<div class="main-content pos-rel">
    <div class="blog-list blog_detail_view blog_category">
        <div class="blog_list_banner bg-light-blue frame">
            <div class="frame blog-list-simple-desc-block">
                <div class="blog-list-simple-desc-block-inr">
                    <div class="careerSearchBlock ">
                        <ng-container>
                            <div class="fl-bx align-items-center text-center justify-content-center">
                                <div class="image-section w-20">
                                    <div class="author-name" style="margin-bottom: 15px;color: #000;">
                                       <h3>{{blogData.author_details?.author_name}}</h3> 
                                    </div>
                                    <div class="img-section">
                                        <img [src]="blogData.author_details?.author_image" [alt]="blogData.author_details?.author_name" class="img-responsive bg-box" style="background-color: #fff;border-radius: 10px;">
                                    </div>
                                </div>
                                <div class="text-block w-80" style="color: #000;text-align: justify;">
                                    <div class="bio" [innerHTML]="blogData.author_details?.author_bio"> </div> 
                                    <br>
                                    <div class="follow_link">
                                        <div class="bio-title">
                                            <span style="font-weight: 500;">
                                                Follow {{blogData.author_details?.author_name}}
                                            </span>
                                            <br>
                                            <a target="_blank" [href]="blogData.author_details?.author_linkedin" style="width: 40px;height: 40px;display: block;">
                                                <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/linkdin.png" alt="author" width="40" height="40">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog_detail_block pos-rel">
            <div class="container container-medium-width">
                <div class="fl-bx pos-rel">
                    <div class="w-100 left_block">
                        <div class="blog-readtime-field fl-bx align-items-center" *ngIf="blogData.blogs?.length == 0">
                            No Blogs Found
                        </div>
                        <div class="blog-readtime-field fl-bx align-items-center" *ngIf="blogData.blogs?.length > 0">
                            <ng-container *ngIf="blogData.blogs as authorBlog">
                                <div class="blog-cat-single-block pos-rel  bg-box"
                                    *ngFor="let blog of authorBlog | paginate: { itemsPerPage: 6 , currentPage: q }">
                                    <div class="blog-cat-inner" style="cursor: pointer;"
                                        (click)="openBlogDetail(blog)">
                                        <div class="blog-title">
                                            <h3>{{ (blog.title.length>50)? (blog.title |
                                                slice:0:50)+'..':(blog.title) }}</h3>
                                            <div class="fl-bx blog-cat-readtime-block">
                                                <div class="blog-readtime blog-category">
                                                    {{blog.sub_category | titlecase}}
                                                </div>
                                                <div class="blog-readtime">
                                                    {{blog.date | date : 'fullDate'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="img-block">
                                            <img title="" alt="image" class="img-responsive"
                                                [src]="blog.banner_image">
                                        </div>
                                        <div class="blog-desc">
                                            {{ (blog.meta_description.length>120)? (blog.meta_description |
                                            slice:0:120)+'..':(blog.meta_description) }}
                                            <div class="fl-bx align-items-center link_read_text">
                                                <div class="read_time">
                                                    {{calculateReadTime(blog.body_text)}} Min Read
                                                </div>
                                                <div class="text-left">
                                                    <a class="link" style="cursor:pointer" (click)="openBlogDetail(blog)">Read more >></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination_block w-100 text-center">
                                    <pagination-controls (pageChange)="q = $event"></pagination-controls>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf="pageloader">
        <div class="loader-inner">
            <div id="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
</div>