<div class="blog_detail_view market-talk economic-calender">
    <div class="frame-medium blog_detail_block">
        <div class="container">
            <div class="fl-bx pos-rel">
                <div class="w-70 left_block">
                    <div class="blog-category-field fl-bx align-items-center " style="width: 100%;height: 600px;">
                        <div id="economicCalendarWidget"></div>
                    </div>
                </div>
                <div class="w-30 right_block pos-rel">
                    <app-blog-right-block></app-blog-right-block>
                    <app-subscribe></app-subscribe>
                </div>
            </div>
        </div>
    </div>
</div>