.logo {
    width: 150px;
    -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.header-bottom-inner {
    padding: 20px 0;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
}
.header-bottom,.main-header.scrolled {
    -webkit-box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
}
.main-header {
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    background-color: #fff;
}
.main-header.scrolled {
    width: 100%;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    .header-bottom {
        box-shadow: none;
    }
    .logo {
        width: 120px;
    }
    .header-bottom-inner {
        padding: 10px 0;
    }
}
/*header end */
/****** header ******/
.header-top {
    padding: 12px 0;
}
.header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background: #fff;
    -webkit-box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.1);
    -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
::ng-deep {

    .nav-butn  {
        position: fixed;
        top: 98px;
        right: 20px;
        width: 30px;
        height: 25px;
        cursor: pointer;
        overflow: hidden;
        pointer-events: all;
        z-index: 10;
        mix-blend-mode: difference;
        transition: top 0.1s linear;
    }
    .main-header.scrolled {
        .nav-butn {
            top: 87px;
        }
    }
    .nav-butn span {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        overflow: hidden;
        height: 2px;
    }
    .nav-butn span:before {
        background-color: #ffffff;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-butn span:after {
        background-color: #ffffff;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-butn span:first-of-type {
        top: 0;
        transition-delay: 0.8s;
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-butn span:nth-of-type(2) {
        top: 12px;
        transition-delay: 0.01s;
    }
    .nav-butn span:nth-of-type(3) {
        top: 24px;
        transition-delay: 1s;
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-butn span:first-of-type,
    .nav-butn span:nth-of-type(2),
    .nav-butn span:nth-of-type(3) {
        transform: translateX(0);
        transition: transform .75s ease 0.1s;
    }
    .nav-butn span:first-of-type:after,
    .nav-butn span:nth-of-type(2):after,
    .nav-butn span:nth-of-type(3):after {
        transform: translateX(101%);
        transition: transform 0.01s ease 0.01s;
    }
    .nav-butn span:first-of-type:before,
    .nav-butn span:nth-of-type(2):before,
    .nav-butn span:nth-of-type(3):before {
        transform: translateX(0) translateY(0);
        transition: transform 0.01s ease 0.01s;
    }
    .nav-butn:hover span:first-of-type:after,
    .nav-butn:hover span:nth-of-type(2):after,
    .nav-butn:hover span:nth-of-type(3):after {
        transform: translateX(0);
        transition: transform 0.01s ease 0.01s;
    }
    .nav-butn:hover span:first-of-type:after {
        transition-delay: 0.01s;
    }
    .nav-butn:hover span:nth-of-type(2):after {
        transition-delay: 0.01s;
    }
    .nav-butn:hover span:nth-of-type(3):after {
        transition-delay: 0.01s;
    }
    .nav-butn span:nth-of-type(4) {
        transform: rotate(-45deg);
    }
    .nav-butn span:nth-of-type(4):before {
        transition-delay: 0;
    }
    .nav-butn span:nth-of-type(5) {
        transform: rotate(45deg);
    }
    .nav-butn span:nth-of-type(5):before {
        transition-delay: 0.01s;
    }
    .nav-butn span:nth-of-type(4),
    .nav-butn span:nth-of-type(5) {
        top: 12px;
    }
    .nav-butn span:nth-of-type(4):before,
    .nav-butn span:nth-of-type(4):after,
    .nav-butn span:nth-of-type(5):before,
    .nav-butn span:nth-of-type(5):after {
        transform: translateX(101%);
        transition: transform 0.01s ease 0.01s;
    }

    .nav-butn span:first-of-type:before {
        transition-delay: 0.01s;
    }
    .nav-butn span:nth-of-type(2):before {
        transition-delay: 0.01s;
    }
    .nav-butn span:nth-of-type(3):before {
        transition-delay: 0.01s;
    }
    .nav-butn span:first-of-type:after {
        transition-delay: 0.01s;
    }
    .nav-butn span:nth-of-type(2):after {
        transition-delay: 0.01s;
    }
    .nav-butn span:nth-of-type(3):after {
        transition-delay: 0.01s;
    }
    .nav-butn span:first-of-type {
        top: 4px;
    }
    .nav-butn span:nth-of-type(3) {
        top: 20px;
    }
    .nav-open .nav-butn span:nth-of-type(4):before,
    .nav-open .nav-butn span:nth-of-type(5):before {
        transform: translateX(0);
        transition: transform 0.01s ease 0.1s;
    }
    .nav-open .nav-butn span:first-of-type:before,
    .nav-open .nav-butn span:nth-of-type(2):before,
    .nav-open .nav-butn span:nth-of-type(3):before,
    .nav-open .nav-butn span:first-of-type:after,
    .nav-open .nav-butn span:nth-of-type(2):after,
    .nav-open .nav-butn span:nth-of-type(3):after {
        transform: translateX(101%) translateY(0);
        transition: transform .01s ease 0.1s;
    }
    .nav-open .nav-butn span:first-of-type:before,
    .nav-open .nav-butn span:first-of-type:after {
        transition-delay: 0.01s;
    }
    .nav-open .nav-butn span:nth-of-type(2):before,
    .nav-open .nav-butn span:nth-of-type(2):after {
        transition-delay: 0.01s;
    }
    .nav-open .nav-butn span:nth-of-type(3):before,
    .nav-open .nav-butn span:nth-of-type(3):after {
        transition-delay: 0.01s;
    }
    .nav-open .nav-butn span:nth-of-type(4):before {
        transition-delay: 0.01s;
    }
    .nav-open .nav-butn span:nth-of-type(5):before {
        transition-delay: 0.01s;
    }
    .nav-open .nav-butn:hover span:nth-of-type(4):after,
    .nav-open .nav-butn:hover span:nth-of-type(5):after {
        transform: translateX(0);
        transition: transform 0.01s ease 0.01s;
    }
    .nav-open .nav-butn:hover span:nth-of-type(4):after {
        transition-delay: 0.01s;
    }
    .nav-open .nav-butn:hover span:nth-of-type(5):after {
        transition-delay: 0.01s;
    }
    
}
/*button */

#menu a {
    color: #000;
    padding: 10px 20px;
    display: block;
    position: relative;
    &:hover {
        color: #2769b4;
    }
    .google-icon{
        position: absolute;
        right: 6px;
        top: 14px;
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 24px;
        width: 24px;
        transition: 0.2s ease;
    }
}
#menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
#menu li {
    position: relative;
    list-style: none;
    font-size: 12pt;
    cursor: pointer;
}
#menu .const-menu li {
    min-width: 100px;
}
#menu li {
    ul {
        transition: 0.2s ease;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        min-width: 205%;
        background-color: #fff;
        box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
        top: 46px;
        z-index: 10;
    }
}
#menu li:hover {
    ul {
        opacity: 1;
        visibility: visible;
    }
    .google-icon {
        transform: rotate(180deg);
        top: 7px;
    }
}
#menu .active-nav>a {
    color: #286ab4;
    font-weight: 700;
}

#nav-wrapper {
    transform: translateX(615px);
    -webkit-transform: translateX(615px);
    position: fixed;
    width: 580px;
    top: 170px;
    background-color: #fff;
    right: 25px;
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9;
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
    .menu_icon {
        width: 80px;
        height: 30px;
        background: #d9edff;
        border-radius: 2px;
    }
}
#nav-wrapper.mnu-closed {
    transform: inherit;
    -webkit-transform: inherit;
}
#menu a.icon-text-menu {
    font-size: 10pt;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.main-header.scrolled {
    #nav-wrapper {
        top: 138px;
    }
}
.slide-mnu {
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
    list-style: none;
    margin: 5px 0;
    min-width: 192px;
}
.nav-wrapper-inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.additonal-menu-links {
    width: 63%;
    border-right: 3px solid #efefef;
    margin: 20px 0px;
    padding-right: 10px;
}
.slide-menu-block {
    width: 36%;
    padding: 20px 0;
}
.add-menu-item {
    width: 50%;
}
.lo-block {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}
#menu ul.slide-mnu-wrp {
    flex-direction: column;
    align-items: flex-end;
}
.add-menu-cont {
    border-bottom: 3px solid #efefef;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#menu {
    .add-menu-item.active-menu {
        background-color: #2769b4;
        a {
            color: #fff;
            font-weight: 700;
        }
    }
}
#menu .add-menu-item {
    font-size: 10pt;
    a {
        padding: 5px;
    }
}
/*Right Slide menu*/
/****** header ******/
.ant-logo {
    display: flex;
    align-items: center;
    width: 20%;
    a {
        width: 50%;
        &:last-child {
            margin-left: 20px;
            padding-left: 20px;
            border-left: 1px solid #333;
        }
    }
}
.main-header.scrolled .ant-logo {
    width: 20%;
}
@media(max-width : 1360px) {
    #menu {
        a {
            padding: 10px 10px;
            font-size: 10pt;
        }
        .const-menu {
            li {
                min-width: 80px;
            }
        } 
    } 
}

@media(max-width : 820px ){
    .logo {
        width: 120px;
    }
    .header-bottom-inner {
        padding: 10px 0;
    }
    .main-header.scrolled .logo {
        width: 100px;
    }
    .ant-logo {
        width: 35%;
    }
    .main-header.scrolled .ant-logo {
        width: 30%;
    }
    .header-right {
        margin-top: 0;
        width: 80%;
        justify-content: flex-end;
        padding-right: 90px;
    }
    #nav-wrapper {
        position: relative;
        height: auto;
        width: 100%;
        top: auto;
        right: auto;
    }
    .nav-butn {
        top: 86px;
    }
    .main-header.scrolled .nav-butn {
        top: 80px;
    }
    .main-header.scrolled #nav-wrapper {
        height: auto;
        top: auto;
    }
    .slide-mnu-wrp {
        padding-top: 0px;
    }
    .contact-inner {
        text-align: center;
        flex-flow: column;
        padding: 0 10px;
        .c-details {
            padding-left: 0px;
            a {
                display: none;
            }
        }
    }
    #menu {
        position: fixed;
        height: 60%;
        width: 65%;
        top: 136px;
        right: -95%;
        padding: 10px 0;
        -webkit-transition: 1.25s cubic-bezier(.19, 1, .22, 1);
        transition: 1.25s cubic-bezier(.19, 1, .22, 1);
        z-index: 9;
        background-color: #fff;
        box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.2);
        ul {
            li{
                width: 100%;
               ul {
                   min-width: 100%;
                   opacity: 1;
                   visibility: visible;
                   position: relative;
                   top: auto;
                   box-shadow: none;
                   padding-left: 25px;
                   li {
                       width: 100%;
                       a {
                           font-weight: normal;
                       }
                   }
               }
            }
        }
        ul.slide-mnu-wrp {
            flex-direction: row;
            align-items: center;
        }
        a {
            color: #000;
            padding: 5px 10px;
            font-size: 12pt;
            font-weight: 700;
            text-align: left;
            
        }
        .add-menu-item a {
            text-align: left;
            align-items: flex-start;
            font-size: 12pt;
        }
        .add-menu-cont {
            padding-bottom: 0;
        }
        .active-nav {
            border-bottom: none;
        }
        .slide-menu-block , .additonal-menu-links{
            width: 100%;
            margin: 0;
            border: none;
            padding-right:0;
        }
        .mobilemenu-innerwrap {
            height: 100%;
            padding: 10px 20px;
            overflow: auto;
        }
        .mobile-image-menu li {
            width: 50%;
        }
        .add-menu-item a {
            padding: 5px 10px;
        }
        .add-menu-item.active-menu {
            background-color: #fff;
            a {
                color: #286ab4; 
            }
        }
    }
    .main-header.scrolled {
        #menu {
            top: 127px;
        }
    }
    #nav-wrapper {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    
    #nav-wrapper.mnu-closed {
        transform: inherit;
        -webkit-transform: inherit;
    }
    .add-menu-cont {
        border: none;
        margin: 0;
    }
    .additonal-menu-links , .sub-nav-wrap.const-menu {
        padding: 0 20px;
    }
    .header-wrap.nav-open {
        #menu {
            right: 0;
        }
    }
    #menu {
        width: 90%;
        overflow: auto;
        li {
            width: 100%;
        }
        .slide-mnu {
            text-align: left;
            margin: 0px 0;
        }
        #nav-wrapper {
            transform: inherit;
            -webkit-transform: inherit;
            .unlock {
                width: 200px;
            }
        }
        a.icon-text-menu {
            text-align: left;
            display: block;
            font-size: 12pt;
        }
        .lo-block {
            display: none;
        }
    }
}
@media(max-width : 468px) {
    .ant-logo {
        width: 80%;
        a:last-child {
            display: none;
        }
    }
    .main-header.scrolled .ant-logo {
        width: 65%;
    }
}
