<app-userlink></app-userlink>

<footer id="main-footer">
    <app-footer-menu></app-footer-menu>
    <app-footer-adress></app-footer-adress>
    <!-- Attention investers -->
    <app-attention></app-attention>
    <app-disclaimer></app-disclaimer>
    <app-branches></app-branches>
    <app-copyright></app-copyright>
</footer>

<!-- <div class="mobile_design chat-with-us" [ngClass]="{ scrolled : scrolled}">
    <div class="quickTools">
        <div class="quickTool_center bg-box-one" [ngClass]="{show : show}" (click)="toggleClass()">
            <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/svg/more.svg" alt="test" class="dot">
            <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/svg/close-new.svg" alt="test" class="close">
        </div>
        <div class="quickTool_right" [ngClass]="{show : show}">
            <div class="quicktool_left_inr">
                <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/svg/chat.svg" alt="test">
            </div>
            <div class="quicktool_left_inr">
                <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/svg/whatsapp.svg" alt="test">
            </div>
            <div class="quicktool_left_inr">
                <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/svg/email.svg" alt="test">
            </div>
            <div class="quicktool_left_inr">
                <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/svg/user.svg" alt="test">
            </div>
        </div>
    </div>
</div> -->