<div class="frame trading-holiday">
    <div class="container">
        <div class="holiday-list">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="NSE Holidays">
                    <app-nse-holiday></app-nse-holiday>
                </mat-tab>
                <mat-tab label="MCX Holidays">
                    <app-mcx-holiday></app-mcx-holiday>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="response w-100">
            <p>* Timings for the Muhurat trading shall be notified by the Exchange subsequently</p>
            <div class="et_pb_code_inner">The list of trading holidays for the calendar year 2021 has been announced by BSE. Here’s a <a rel="noreferrer" href="https://www.bseindia.com/markets/MarketInfo/DispNewNoticesCirculars.aspx?page=20201210-7" target="_blank" rel="noopener noreferrer">one-page list of all trading holidays</a>                for NSE & BSE.</div>
        </div>
    </div>
</div>