<div class="bg-light-blue dialog_title" mat-dialog-title>Following Self Attested Documents are Required</div>
<div mat-dialog-content>
    <ul class="proofs">
        <li>Aadhar Card (Proof of Identity)</li>
        <li>PAN Card (Proof of Identity)</li>
        <li>Latest Bank Statement with IFSC/MICR code (Address Proof)</li>
        <li>Cancelled Cheque (to link the bank Account with trading Account)</li>
    </ul>
</div>
<div class="icon-close" [mat-dialog-close]="true"> <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/svg/cancel-black.svg" alt="test"> </div>