.benefits-row {
    display: flex;
    flex-wrap: wrap;
    .benefit {
        position: relative;
        padding: 20px 25px;
        min-height: 180px;
        p {
            padding-bottom: 30px;
        }
        .link {
            color: #286ab4;
            position: absolute;
            bottom: 20px;
            left: 25px;
        }
    }
    .bottom-border {
        position: absolute;
        width: 0;
        height: 5px;
        background-color: #286ab4;
        bottom: 0;
        right: 0;
        display: block;
        -ms-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .right-border {
        position: absolute;
        width: 3px;
        height: 0;
        background-color: #286ab4;
        bottom: 0;
        right: 0;
        display: block;
        -ms-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .benefit:hover .right-border {
        height: 100%;
    }
    .benefit:hover .bottom-border {
        width: 100%;
    }
}
.digipromo-page {
    .iframe-inr {
        width: 74%;
        height: 230px;
        margin: auto;
        position: relative;
        z-index: 1;
    }
    .aut-icon {
        height: 70px;
        width: 70px;
        margin-right: 20px;
        border-radius: 50%;
        background-color: #6fccdd;
        img {
            height: 100%;
            display: block;
            border-radius: 50%;
        }
    }
    .aut-name {
        font-weight: 500;
    }
    .benefit-single-block {
        height: 140px;
        .benefit {
            min-height: 140px;
        }
    }
    .social-icon-links {
        justify-content: inherit;
        margin-left: 0;
    }
    .gif_block img {
        height: auto;
        width: 100%;
    }
    .timeline {
        position: relative;
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 1em 0;
        list-style-type: none;
    }
    .timeline:before {
        position: absolute;
        left: 50%;
        top: 0;
        content: ' ';
        display: block;
        width: 6px;
        height: 100%;
        margin-left: -3px;
        background: rgb(80, 80, 80);
        background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
        background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
        z-index: 5;
    }
    .timeline li {
        padding: 1em 0;
    }
    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    li:nth-child(even) .direction {
        position: relative;
        width: 300px;
        float: left;
        text-align: right;
    }
    li:nth-child(odd) .direction {
        position: relative;
        width: 300px;
        float: right;
    }
    .flag-wrapper {
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .flag {
        position: relative;
        display: inline;
        background: rgb(248, 248, 248);
        padding: 6px 10px;
        border-radius: 5px;
        font-weight: 600;
        text-align: left;
    }
    li:nth-child(even) .direction .flag {
        -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    }
    li:nth-child(odd) .direction .flag {
        -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    }
    li:nth-child(even) .direction .flag:before,
    li:nth-child(odd) .direction .flag:before {
        position: absolute;
        top: 50%;
        right: -50px;
        content: ' ';
        display: block;
        width: 30px;
        height: 30px;
        margin-top: -10px;
        background: url(https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/ticckgreen.png);
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        border: 4px solid #fff;
        z-index: 10;
        -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    }
    li:nth-child(odd) .direction .flag:before {
        left: -50px;
    }
    li:nth-child(even) .direction .flag:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(248, 248, 248);
        border-width: 8px;
        pointer-events: none;
    }
    li:nth-child(odd) .direction .flag:after {
        content: "";
        position: absolute;
        right: 100%;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(248, 248, 248);
        border-width: 8px;
        pointer-events: none;
    }
    .time-wrapper {
        display: inline;
        line-height: 1em;
        font-size: 0.66666em;
        color: rgb(250, 80, 80);
        vertical-align: middle;
    }
    li:nth-child(even) .direction .time-wrapper {
        float: left;
    }
    li:nth-child(odd) .direction .time-wrapper {
        float: right;
    }
    .time {
        display: inline-block;
        padding: 4px 6px;
        background: rgb(248, 248, 248);
    }
    .desc {
        margin: 1em 0.75em 0 0;
        font-size: 14px;
        font-style: italic;
        line-height: 1.5em;
    }
    li:nth-child(odd) .direction .desc {
        margin: 1em 0 0 0.75em;
    }
    .rating {
        color: #e1a413;
        font-size: 30px;
    }
    /* ================ Timeline Media Queries ================ */
    @media screen and (max-width: 660px) {
        .timeline {
            width: 100%;
            padding: 4em 0 1em 0;
        }
        .timeline li {
            padding: 2em 0;
        }
        li:nth-child(even) .direction,
        li:nth-child(odd) .direction {
            float: none;
            width: 100%;
            text-align: center;
        }
        .flag-wrapper {
            text-align: center;
        }
        .flag {
            background: rgb(255, 255, 255);
            z-index: 15;
        }
        li:nth-child(even) .direction .flag:before,
        li:nth-child(odd) .direction .flag:before {
            position: absolute;
            top: -30px;
            left: 50%;
            content: ' ';
            display: block;
            width: 12px;
            height: 12px;
            margin-left: -9px;
            background: #fff;
            border-radius: 10px;
            border: 4px solid rgb(255, 80, 80);
            z-index: 10;
        }
        li:nth-child(even) .direction .flag:after,
        li:nth-child(odd) .direction .flag:after {
            content: "";
            position: absolute;
            left: 50%;
            top: -8px;
            height: 0;
            width: 0;
            margin-left: -8px;
            border: solid transparent;
            border-bottom-color: rgb(255, 255, 255);
            border-width: 8px;
            pointer-events: none;
        }
        .time-wrapper {
            display: block;
            position: relative;
            margin: 4px 0 0 0;
            z-index: 14;
        }
        li:nth-child(even) .direction .time-wrapper {
            float: none;
        }
        li:nth-child(odd) .direction .time-wrapper {
            float: none;
        }
        .desc {
            position: relative;
            margin: 1em 0 0 0;
            padding: 1em;
            background: rgb(245, 245, 245);
            -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
            -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
            z-index: 15;
        }
        li:nth-child(even) .direction .desc,
        li:nth-child(odd) .direction .desc {
            position: relative;
            margin: 1em 1em 0 1em;
            padding: 1em;
            z-index: 15;
        }
    }
}
.more_questions a {
    color: #276bb4;
}
.iframe-bg {
    background-image: url(https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/video-frame.png);
    width: 100%;
    height: 330px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 2px;
    margin-top: -3px;
}
.AccCont {
    a {
        color: #44B749;
    }
    ul {
        margin-left: 20px;
    }
}
.contact-us {
    .mat-tab-label {
        color: #fff;
    }
    .address_block .branch_mail,
    .address_block .branch_contact,
    .address_block .branch_address {
        border-bottom: 1px solid #fff;
    }
    .single-loc-block {
        z-index: 1;
        position: relative;
        background-color: #000;
        color: #fff;
        padding: 20px 10px;
        opacity: 0.7;
        &:hover {
            background-color: #172540;
            opacity: 1;
        }
        .link {
            color: #2769b4;
            text-decoration: underline;
            cursor: pointer;
            margin-top: 20px;
        }
        .branch-name {
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    .branch-address-section {
        min-height: 510px;
        position: relative;
        .overlay {
            background-color: #000;
            opacity: 0.7;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .bg-img {
            background: url('https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/map.png');
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.s-cont {
    h5 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    li {
        list-style: decimal;
    }
}
@media(max-width : 820px) {
    .digipromo-page{
        .gif_block {
            width: 30%;
            margin: auto;
        }
        .iframe-inr {
            width: 53%;
            height: 222px;
        }
    } 
}
@media(max-width : 468px) {
    .digipromo-page{
        .iframe-inr {
            width: 94%;
            height: 180px;
        }
        .benefit-single-block {
            height: auto;
        }
    } 
}