<div class="footer-disclaimer et_pb_text_align_center">
    <div class="et_pb_row container container-medium-width">

        <p>Procedure to file a complaint on <a rel="noreferrer" href="https://scores.gov.in/" target="_blank">SEBI SCORES</a> : Register
            on SCORES portal. Mandatory details for filing complaints on SCORES: Name, PAN, Address, Mobile Number,
            E-mail ID. Benefits: Effective
            Communication, Speedy redressal of the grievances</p>
        <p>Investment in securities markets are subject to market risks, read all the related documents carefully before investing. Brokerage will not exceed SEBI prescribed limit.</p>
        <p>For queries regarding account opening or activation, email to <a
                href="mailto:accountactivation@aliceblueindia.com">accountactivation@aliceblueindia.com</a> and for fund
            updates, email to <a href="mailto:funds@aliceblueindia.com">funds@aliceblueindia.com</a></p>
        <p class=""><b>Disclaimer : </b> Prevent unauthorised transactions in your account. Update your mobile
            numbers/email IDs with your stock brokers. Receive information of your transactions directly from Exchange
            on your mobile/email at the end of the day.
            Issued in the interest of investors. All clients have to update their email id and mobile number with Member
            : Investor Grievance <a href="mailto:grievances@aliceblueindia.com"
                target="_blank"><span>grievances@</span><span>aliceblueindia.com</span></a>
            <br> KYC is a one time exercise while dealing in securities markets - once KYC is done through a SEBI
            registered intermediary (broker, DP, Mutual Fund etc.), you need not undergo the same process again when you
            approach another intermediary.
            No need to issue cheques by investors while subscribing to IPO. Just write the bank account number and sign
            in the application form to authorise your bank to make payment in case of allotment. No worries for the
            refund as the money remains
            in investor's account.
        </p>

    </div>
</div>