<div class="main-content">
    <div class="app-store pos-res aspiring-investor">
        <div class="image-right-text-left-block">
            <div class="aspiring-investor-banner fl-bx">
                <div class="banner-image">
                    <div class="imageBlock" style="background-image: url('{{aspiring_investors.banner_data.banner_image}}');">
                        <!-- <img [src]="" alt="" class="img-responsive"> -->
                    </div>
                </div>
    
                <div class="banner-content">
                    <div class="trading-option-inr">
                        <div class="section-header">
                            <h1 style="color: #fff;">
                                {{aspiring_investors.banner_data.banner_title}}
                            </h1>
                            <p style="font-weight: normal;" [innerHTML]="aspiring_investors.banner_data.banner_sub_title"></p>
                        </div>
                        <div class="sub-title" style="margin-bottom: 30px;"
                            [innerHTML]="aspiring_investors.banner_data.banner_spacial_text"></div>
    
                        <div class="btn-block">
                            <a class="btn btn-white" [routerLink]="aspiring_investors.banner_data.banner_link">Sign Up Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="outer-wrap frame-top">
            <div class="w-100 section-header text-center">
                <div class="container">
                    <h2>{{aspiring_investors.para_one.para_title}}</h2>
                </div>
            </div>
        </div>
        <!-- Para One -->
        <div class="image-left-text-right-block frame">
            <div class="container container-medium-width">
                <div class="image-text-inner fl-bx align-items-center">
                    <div class="image-block w-50">
                        <img [src]="aspiring_investors.para_one.para_image" class="img-responsive" [alt]="aspiring_investors.para_one.alt_text">
                    </div>
                    <div class="text-block w-50">
                        <div class="cont" [innerHTML]="aspiring_investors.para_one.para_list"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Para two -->
        <div class="image-right-text-left-block frame">
            <div class="container container-medium-width">
                <div class="image-text-inner fl-bx align-items-center">
                    <div class="image-block w-50">
                        <img [src]="aspiring_investors.para_two.para_image" class="img-responsive" [alt]="aspiring_investors.para_two.alt_text">
                    </div>
                    <div class="text-block w-50">
                        <h4 class="cont" [innerHTML]="aspiring_investors.para_two.para_list"></h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Para three -->
        <div class="image-left-text-right-block frame">
            <div class="container container-medium-width">
                <div class="image-text-inner fl-bx align-items-center">
                    <div class="image-block w-50">
                        <img [src]="aspiring_investors.para_three.para_image" class="img-responsive" [alt]="aspiring_investors.para_three.alt_text">
                    </div>
                    <div class="text-block w-50">
                        <div class="cont" [innerHTML]="aspiring_investors.para_three.para_list"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- para four -->
        <div class="image-right-text-left-block frame bg-light-blue">
            <div class="container container-medium-width">
                <div class="image-text-inner fl-bx align-items-center">
                    <div class="w-100 section-header text-center">
                        <h2>{{aspiring_investors.para_four.para_title}}</h2>
                    </div>
                    <div class="image-block w-50">
                        <img [src]="aspiring_investors.para_four.para_image" class="img-responsive" [alt]="aspiring_investors.para_four.alt_text">
                    </div>
                    <div class="text-block w-50">
                        <h4 style="color: #fff;" [innerHTML]="aspiring_investors.para_four.para_content"></h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- para five -->
        <div class="image-left-text-right-block frame">
            <div class="container container-medium-width">
                <div class="image-text-inner fl-bx align-items-center">
                    <div class="section-header text-center">
                        <h2>
                            {{aspiring_investors.para_five.para_title}}
                        </h2>
                    </div>
                    <div class="image-block w-50">
                        <img [src]="aspiring_investors.para_five.para_image" class="img-responsive" [alt]="aspiring_investors.para_five.alt_text">
                    </div>
                    <div class="text-block w-50 pos-rel">

                        <h4 class="cont" [innerHTML]="aspiring_investors.para_five.para_content"></h4>
                        <button class="btn btn-blue" [routerLink]="aspiring_investors.para_five.para_link">Refer Now!</button>
                        <div class="starttrading bg-grey frame-medium">
                            <div class="content-blog">
                        
                                <div class="box-lable g-link" style="margin-bottom: 20px;">
                                    <input class="digilink" type="text" pattern="[a-zA-Z0-9 ]+" maxlength="15"
                                        placeholder="Enter your code" id="generate_link_client"
                                        [(ngModel)]="clientCode" required="">
                                    <button class="digi_button btn btn-green btn-rounded" id="generate_associate_link"
                                        (click)="generateLink()" value="">Generate
                                        Link</button>
                                </div>
                                <div class="box-lable g-link mt-20">
                                    <input class="digilink" type="text" placeholder="Your referral link is"
                                        id="copy_link" readonly [(ngModel)]="copyLink" #userLink>
                                    <button class="digi_button btn btn-blue btn-rounded"
                                        (click)="copyInputMessage(userLink)" id="generate_associate_link" value="">Copy
                                        Link</button>
                                </div>
                                <div class="pt bg-light-blue">
                                    <div class="b-text">
                                        Share it Through:
                                    </div>
                                
                                    <div class="cs-social-share clearfix">
                                        <div class="cs-share-this-product">
                                            <share-button [theme]="'modern-dark'" [button]="'facebook'"
                                                [url]="shareLink"
                                                [description]="'Would highly recommend checking out Alice Blues ANTMobi App for trading & investing. Open an account & get lifetime free equity delivery trades. A must-try is their unique Trade Store App which is just a bundle of surprises! Join using my link and get a 10% cashback on brokerage for 30 days! Best of investing, Click and Join now'">
                                            </share-button>
                                        </div>
                                        <div class="cs-share-this-product">
                                            <share-button [theme]="'modern-dark'" [button]="'twitter'" [url]="shareLink"
                                                [description]="'Check out Alice Blues ANTMobi App for trading & investing. Open an
                        account using my link and get a 10% cashback on brokerage for 30 days!
                        Best of investing, Click and Join now'"></share-button>
                                        </div>
                                        <div class="cs-share-this-product">
                                            <share-button [theme]="'modern-dark'" [button]="'telegram'"
                                                [url]="shareLink" [description]="'Hi, check out Alice Blue. I strongly recommend trying their platform for
                        Investments. You can open an account and invest using their ANTMobi app.
                        A must-try is their unique Trade Store App which is just a bundle of surprises!
                        Join using my link and get a 10% cashback on brokerage for 30 days!
                        Best of investing, Click and Join now'"></share-button>
                                        </div>
                                        <div class="cs-share-this-product ">
                                            <share-button [theme]="'modern-dark'" [button]="'linkedin'"
                                                [url]="shareLink" [description]="'Would highly recommend checking out Alice Blues ANTMobi App for trading &
                        investing. Open an account & get lifetime free equity delivery trades. A
                        must-try is their unique Trade Store App which is just a bundle of surprises! Join
                        using my link and get a 10% cashback on brokerage for 30 days!
                        Best of investing, Click and Join now'"></share-button>
                                        </div>
                                        <div class="cs-share-this-product ">
                                            <share-button [theme]="'modern-dark'" [button]="'whatsapp'"
                                                [showText]="false" [url]="shareLink"
                                                [description]="'Hi, check out Alice Blue. I strongly recommend trying their platform for Investments. You can open an account and invest using their ANTMobi app. A must-try is their unique Trade Store App which is just a bundle of surprises! Join using my link and get a 10% cashback on brokerage for 30 days! Best of investing, Click and Join now'">
                                            </share-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- para six -->
        <div class="image-right-text-left-block bg-light-blue frame">
            <div class="container container-medium-width">
                <div class="image-text-inner fl-bx align-items-center">
                    <div class="w-100 section-header text-center">
                        <h2>{{aspiring_investors.para_six.para_title}}</h2>
                    </div>
                    <div class="image-block w-50">
                        <img [src]="aspiring_investors.para_six.para_image" class="img-responsive" [alt]="aspiring_investors.para_six.alt_text">
                    </div>
                    <div class="text-block w-50">
                        <div class="" [innerHTML]="aspiring_investors.para_six.para_content"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- para seven -->
        <div class="frame pos-rel">
            <div class="container container-medium-width">
                <div class="fl-bx align-items-center justify-content-center">
                    <div class="w-40">
                        <img [src]="aspiring_investors.para_seven.para_image" class="img-responsive" [alt]="aspiring_investors.para_seven.alt_text">
                    </div>
                    <div class="w-60 pos-rel">
                        <div class="partner_form pos-rel">
                            <div class="section-header text-center">
                                <h3>
                                    {{aspiring_investors.para_seven.para_title}}
                                </h3>
                            </div>
                            <form class="form pos-rel" [formGroup]="aspiringInvestorForm">
                                <mat-form-field class="formEmail forminr" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input type="text" matInput formControlName="firstName" placeholder="First Name">
                                    <mat-error>Name is Required</mat-error>
                                </mat-form-field>
                                <mat-form-field class="formEmail forminr" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input type="text" matInput formControlName="emailId" placeholder="Eamil">
                                    <mat-error>Enter valid Email Id</mat-error>
                                </mat-form-field>
                                <mat-form-field class="formMobile forminr" appearance="outline">
                                    <mat-label>Mobile</mat-label>
                                    <input type="tel" matInput id="mobile" minlength="10" maxlength="10"
                                        (keypress)="keyPress($event)" placeholder="Mobile" formControlName="Mobile">
                                    <mat-error>Please enter 10 digit mobile number</mat-error>
                                </mat-form-field>
                                <mat-form-field class="formEmail forminr" appearance="outline">
                                    <mat-label>Select State</mat-label>
                                    <mat-select formControlName="State" matNativeControl name="state"
                                        (selectionChange)="getCitiesofstate()">
                                        <mat-option *ngFor="let state of states" [value]="state">
                                            {{state}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>Please select the state</mat-error>
                                </mat-form-field>
                                <mat-form-field class="formEmail forminr" appearance="outline"
                                    *ngIf="aspiringInvestorForm.value.State == 'Tamil Nadu' || aspiringInvestorForm.value.State == 'Maharashtra'">
                                    <mat-label>Select City</mat-label>
                                    <mat-select formControlName="City" matNativeControl name="city">
                                        <mat-option *ngFor="let city of displayCities" [value]="city.city">
                                            {{city.city}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>Please select the City</mat-error>
                                </mat-form-field>
                                <div class="checkBox" style="word-break: break-all;">
                                    <mat-checkbox class="example-margin" formControlName="check">I authorize Alice Blue
                                        to communicate with me through multiple channels, regading thier new
                                        product updates and lauch. </mat-checkbox>
                                </div>
                                <div class="btn-block">
                                    <button class="btn btn-blue" style="margin-top: 20px; margin-right: 0;"
                                        type="submit"
                                        [disabled]="aspiringInvestorForm.invalid && (aspiringInvestorForm.value.State == 'Tamil Nadu' || aspiringInvestorForm.value.State == 'Maharashtra' && aspiringInvestorForm.value.City == '')"
                                        (click)="onSubmit()">Open an Account</button>
                                </div>
                                <div class="spinner" *ngIf="formSubmitted">
                                    <div class="spinner-inner fl-bx align-items-center justify-content">
                                        <mat-spinner></mat-spinner>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf="pageloader">
        <div class="loader-inner">
            <div id="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
</div>
