<div class="trading-tools frame">
    <div class="container container-medium-width">
        <div class="image-with-text w-100 ">
            <div class="section-header text-center">
                <h2 class="text-center">Most Popular Trading Tools</h2>
            </div>
            <div class="fl-bx align-items-center">
                <!-- <div class="w-50  bg-box" *ngFor="let tool of trendingTools">
                    <div class="icon-text">
                        <div class="icon-text-text">
                            <div class="hd-txt">
                                <h3 class="hdr">
                                    {{tool.title}}
                                </h3>
                            </div>
                            <p>{{tool.description}}</p>
                            <div class="btn-block">
                                <a class="btn-plain" [routerLink]="tool.link">{{tool.linkText}}</a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="w-50  bg-box">
                    <div class="icon-text">
                        <div class="icon-text-text">
                            <div class="hd-txt">
                                <h3 class="hdr">
                                    Margin Calculator
                                </h3>
                            </div>
                            <p>Did you know that the Brokerage could be low as 5% or even as high as 80% of total transaction cost. Get a Detailed breakup of total Trading cost and its impact on your pocket with Brokerage Calculator</p>
                            <div class="btn-block">
                                <!-- <a class="btn-plain" routerLink="/margin-calculator/commodity">Uncover Trading Cost</a> -->
                                <a class="btn-plain" href="https://ant.aliceblueonline.com/margin-calculator/" target="_blank">Uncover Trading Cost</a>
                            </div>
                        </div>
                    </div>
                </div>
           
                <div class="w-50  bg-box">
                    <div class="icon-text">
                        <div class="icon-text-text">
                            <div class="hd-txt">
                                <h3 class="hdr">
                                    Pivot Points
                                </h3>
                            </div>
                            <p>Is your analysis or sixth sense guilding you to go Bullish or Bearish on a Scrip? Support your trading decision with Pivot Points technical analysis indicator. It represents Market sentiments, Support and Resistance levels of a scrip.</p>
                            <div class="btn-block">
                                <a class="btn-plain" href="/pivot-points" target="_blank">Get Techinical Analysis</a>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="w-50  bg-box">
                    <div class="icon-text">
                        <div class="icon-text-text">
                            <div class="hd-txt">
                                <h3 class="hdr">
                                    RMS Live Updates
                                </h3>
                            </div>
                            <p>Discover latest required margin with live RMS. But why?? The Required margin Increases or Decreases in Live Stock market based on volatility of the market or scrip itself.</p>
                            <div class="btn-block">
                                <a class="btn-plain" href="/rms-live-updates/exposures" target="_blank">View Latest Margins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-50  bg-box">
                    <div class="icon-text">
                        <div class="icon-text-text">
                            <div class="hd-txt">
                                <h3 class="hdr">
                                    Option Calculator
                                </h3>
                            </div>
                            <p>The Brokerage Calculator allows our customers to get a clear understanding of the returns on investments and the breakup of charges regarding turnover charges, brokerage fees, Taxes, etc.</p>
                            <div class="btn-block">
                                <a class="btn-plain" href="https://ant.aliceblueonline.com/margin-calculator/" target="_blank">Calculate Brokerage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>