.app-store-single-block {
    .app-content-inner {
        position: relative;
        width: 49%;
        margin-top: 1%;
        margin-bottom: 1%;
        p {
            font-size: 12px;
        }
        .developer {
            margin-bottom: 20px;
            color: #276bb4;
        }
        h2 {
            display: none;
        }
        h3 {
            display: block;
            margin-bottom: 0px;
        }
        &:nth-child(odd) {
            margin-left: 1%;
        }
        &:nth-child(even) {
            margin-right: 1%;
        }
        &:first-child {
            width: 100%;
            margin: 0;
            margin-top: 1%;
            margin-bottom: 1%;
            background-image: linear-gradient(to top, #dff3fd, #e6f6fd, #edf9fe, #f4fbfe, #fbfeff);
            padding: 30px 100px;
            h2 {
                display: block;
            }
            h3 {
                display: none;
            }
            &::before , &::after {
                content: '';
                width: 50px;
                height: 50px;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #ffdf00;
                border-radius: 10px;
            }
            &::after {
                background-color: #44B749;
                top: auto;
                left: auto;
                right: 0;
                bottom: 0;
            }
            .s-icn {
                width: 25%;
            }
        }
    }
    .subicon {
        width: 100px;
    }
    .s-icn {
        width: 30%;
        margin-right: 10px;
        margin-top: 20px;
        img {
            width: 99.9%;
            object-fit: contain;
            height: 100%;
            border-radius: 5px;
        }
    }
}
.subpage-banner {
    position: relative;
    .subpage-banner-inner {
        .section-header {
            position: relative;
            z-index: 1;
            padding-top: 30px;
        }
        .section-header {
            margin-bottom: 0;
        }
        h1 {
            font-size: 50px;
            line-height: 1.2;
        }
    }
    .image-block {
        padding: 10px 20px;
    }
}
@media(max-width : 820px) {
    .w-70 , .w-30 {
        width: 100%;
       
    }
    .app-content-inner {
        min-height: 340px;
        .w-30 {
            .img-responsive {
                width: 30%;
            }
        }
    }
}

@media (max-width : 468px) {
    .app-store-single-block {
        .app-content-inner {
            width: 100%;
            margin: 0 !important;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            .w-30 {
                img {
                    height: auto;
                    width: 100%;
                }
            }
            &:first-child {
               padding: 0;
            }
        }
    }
}

.featured-ts-app {
    .owl-theme .owl-dots {
        position: relative;
        left: auto;
        .owl-dot span {
           width: 45px;
           height: 5px;
           background-color: #d6d5d5 !important;
           border-radius: 0;
           border: 1px solid #d6d5d5;
       }
       .owl-dot.active span,  .owl-dot:hover span {
            background: #286ab4 !important;
            border: 1px solid #286ab4;
        }
    }
}
