<div class="main-content">
    <div class="about_us ebook_podcast help-desk">
        <div class="subPageBanner pos-rel">
            <div class="bgImage"
                style="background-image: url('https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/ab+care.png');">
            </div>
            <div class="overlay"></div>
            <div class="subPage_content">
                <div class="section-header">
                    <h2>
                        Annual Returns
                    </h2>
                </div>
            </div>
        </div>

        <div class="container container-medium-width fl-bx align-items-center">
            <div class="w-100">
                 <div class="download-accordion frame">
                     <div class="AccWrap faqs">
                         <div class="AccWrapInr pos-rel bg-box-one">
                               <div class="AccHdr">
                                   <div class="hdr_content_block">
                                     <h3>2020-2021</h3>

                                    </div>
                              </div>
                              <div class="btn-block">
                               <a class="btn btn-blue" href="https://alicewebsite.s3.ap-south-1.amazonaws.com/cms/uploaded-files/documents/MGT-7-1644238030554.pdf">
                                 <img src="assets/images/google-icons/download.svg" width="20" height="20" alt="download" style=" margin-right: 10px; ">
                                 Download
                                 </a>
                             </div>

                         </div>

                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="loader" *ngIf="pageloader">
    <div class="loader-inner">
        <div id="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>