.get-style {
    background-color: #ffdf00;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 20px;
}
.gif_block {
    width: 50%;
    margin: auto;
}
.s-icn {
    width: 48%;
    margin: 1%;
}
.rupee {
    font-weight: 700;
    font-size: 50px;
    text-shadow: 0px 0px 9px rgb(0 0 0 / 87%);;
}
.special-text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}
.refer-video-block {
    width: 70%;
    margin: auto;
}
.refer-iframe {
    height: 350px;
}
.list {
    padding-left: 10%;
}
li {
    list-style: circle;
}
.pt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    .cs-share-this-product {
        width: 20%;
    }
}
.refer-us {
    span {
        font-size: 18px;
    }
    a {
        text-decoration: underline;
        color: #ffdf00;
    }
}
.suc-refer:after{
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
}
.digipromo-page {
    .iframe-inr {
        width: 71%;
        height: 230px;
        margin: auto;
        position: relative;
        z-index: 1;
    }
    .aut-icon {
        height: 70px;
        width: 70px;
        margin-right: 20px;
        border-radius: 50%;
        background-color: #6fccdd;
        img {
            height: 100%;
            display: block;
            border-radius: 50%;
        }
    }
    .aut-name {
        font-weight: 500;
    }
    .benefit-single-block {
        height: 140px;
        .benefit {
            min-height: 140px;
        }
    }
    .social-icon-links {
        justify-content: inherit;
        margin-left: 0;
    }
    .gif_block img {
        height: auto;
        width: 100%;
    }
    .timeline {
        position: relative;
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 1em 0;
        list-style-type: none;
    }
    .timeline:before {
        position: absolute;
        left: 50%;
        top: 0;
        content: ' ';
        display: block;
        width: 6px;
        height: 100%;
        margin-left: -3px;
        background: rgb(80, 80, 80);
        background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
        background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
        z-index: 5;
    }
    .timeline li {
        padding: 1em 0;
    }
    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    li:nth-child(even) .direction {
        position: relative;
        width: 300px;
        float: left;
        text-align: right;
    }
    li:nth-child(odd) .direction {
        position: relative;
        width: 300px;
        float: right;
    }
    .flag-wrapper {
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .flag {
        position: relative;
        display: inline;
        background: rgb(248, 248, 248);
        padding: 6px 10px;
        border-radius: 5px;
        font-weight: 600;
        text-align: left;
    }
    li:nth-child(even) .direction .flag {
        -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    }
    li:nth-child(odd) .direction .flag {
        -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    }
    li:nth-child(even) .direction .flag:before,
    li:nth-child(odd) .direction .flag:before {
        position: absolute;
        top: 50%;
        right: -50px;
        content: ' ';
        display: block;
        width: 30px;
        height: 30px;
        margin-top: -10px;
        background: url(https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/ticckgreen.png);
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        border: 4px solid #fff;
        z-index: 10;
        -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    }
    li:nth-child(odd) .direction .flag:before {
        left: -50px;
    }
    li:nth-child(even) .direction .flag:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(248, 248, 248);
        border-width: 8px;
        pointer-events: none;
    }
    li:nth-child(odd) .direction .flag:after {
        content: "";
        position: absolute;
        right: 100%;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(248, 248, 248);
        border-width: 8px;
        pointer-events: none;
    }
    .time-wrapper {
        display: inline;
        line-height: 1em;
        font-size: 0.66666em;
        color: rgb(250, 80, 80);
        vertical-align: middle;
    }
    li:nth-child(even) .direction .time-wrapper {
        float: left;
    }
    li:nth-child(odd) .direction .time-wrapper {
        float: right;
    }
    .time {
        display: inline-block;
        padding: 4px 6px;
        background: rgb(248, 248, 248);
    }
    .desc {
        margin: 1em 0.75em 0 0;
        font-size: 14px;
        font-style: italic;
        line-height: 1.5em;
    }
    li:nth-child(odd) .direction .desc {
        margin: 1em 0 0 0.75em;
    }
    .rating {
        color: #e1a413;
        font-size: 30px;
    }
    /* ================ Timeline Media Queries ================ */
    @media screen and (max-width: 660px) {
        .timeline {
            width: 100%;
            padding: 4em 0 1em 0;
        }
        .timeline li {
            padding: 2em 0;
        }
        li:nth-child(even) .direction,
        li:nth-child(odd) .direction {
            float: none;
            width: 100%;
            text-align: center;
        }
        .flag-wrapper {
            text-align: center;
        }
        .flag {
            background: rgb(255, 255, 255);
            z-index: 15;
        }
        li:nth-child(even) .direction .flag:before,
        li:nth-child(odd) .direction .flag:before {
            position: absolute;
            top: -30px;
            left: 50%;
            content: ' ';
            display: block;
            width: 12px;
            height: 12px;
            margin-left: -9px;
            background: #fff;
            border-radius: 10px;
            border: 4px solid rgb(255, 80, 80);
            z-index: 10;
        }
        li:nth-child(even) .direction .flag:after,
        li:nth-child(odd) .direction .flag:after {
            content: "";
            position: absolute;
            left: 50%;
            top: -8px;
            height: 0;
            width: 0;
            margin-left: -8px;
            border: solid transparent;
            border-bottom-color: rgb(255, 255, 255);
            border-width: 8px;
            pointer-events: none;
        }
        .time-wrapper {
            display: block;
            position: relative;
            margin: 4px 0 0 0;
            z-index: 14;
        }
        li:nth-child(even) .direction .time-wrapper {
            float: none;
        }
        li:nth-child(odd) .direction .time-wrapper {
            float: none;
        }
        .desc {
            position: relative;
            margin: 1em 0 0 0;
            padding: 1em;
            background: rgb(245, 245, 245);
            -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
            -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
            z-index: 15;
        }
        li:nth-child(even) .direction .desc,
        li:nth-child(odd) .direction .desc {
            position: relative;
            margin: 1em 1em 0 1em;
            padding: 1em;
            z-index: 15;
        }
    }
}
.start-referring {
   
    .box-lable {
        width: 50%;
        border: 1px solid #000;
        margin: 5px 10px;
        margin-left: 0;
        select {
            width: 100%;
            margin: 0;
            padding: 10px 5px;
            font-size: 12px;
        }
        input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #000;
            opacity: 1; /* Firefox */
          }
        .mat-form-field-appearance-outline .mat-form-field-outline {
            color: #000;
        }
        input {
            padding: 2px 5px;
            font-size: 12px;
        }
    }
    .pt {
       justify-content: inherit;
       padding-left: 10px;
       .cs-share-this-product {
         width: 15%;
        }   
    }
    .btn-yellow {
        margin-top: 0;
        font-size: 14px;
    }
    .box-lable.selectedPage {
        border: none;
    }
    .cs-share-this-product:first-child .sb-icon{
        color: #276ab4;
    }
    .cs-share-this-product:nth-child(2) .sb-icon {
        color: #56c4f0;
    }
    .cs-share-this-product:nth-child(3) .sb-icon {
        color: #1e9dd1;
    }
    .cs-share-this-product:nth-child(4) .sb-icon {
        color:#258bc6;
    }
    .cs-share-this-product:nth-child(5) .sb-icon {
        color: #22ab4b;
    }
}
.contact-us {
    .mat-tab-label {
        color: #fff;
    }
    .address_block .branch_mail,
    .address_block .branch_contact,
    .address_block .branch_address {
        border-bottom: 1px solid #fff;
    }
    .single-loc-block {
        z-index: 1;
        position: relative;
        background-color: #000;
        color: #fff;
        padding: 20px 10px;
        opacity: 0.7;
        &:hover {
            background-color: #172540;
            opacity: 1;
        }
        .link {
            color: #2769b4;
            text-decoration: underline;
            cursor: pointer;
            margin-top: 20px;
        }
        .branch-name {
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    .branch-address-section {
        min-height: 510px;
        position: relative;
        .overlay {
            background-color: #000;
            opacity: 0.7;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .bg-img {
            background: url('https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/map.png');
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@media(max-width:768px){
    .s-icn {
        box-shadow: none;
    }
    .refer-video-block {
        width: 100%;
    }
    .btn-block {
        margin-top: 20px;
    }
    .start-referring .btn-yellow {
        margin-top: 0;
        font-size: 12px;
    }
}

.AccCont {
    a {
        color: #44B749;
    }
    ul {
        margin-left: 20px;
    }
}
@media(max-width:468px) {
    .refer-iframe {
        height: 176px;
    }
    .list{
        padding-left: 0;
    }
    .pt {
        padding-left: 20px;
    }
    .start-referring .pt {
        justify-content: center;
    }
}