<div class="main-content">
  
    <div class="Page-not-found" style="padding-bottom: 30px;">
        <div class="p-n-f-top-content  text-center">
            <div class="subpage-banner-inner container container-medium-width">
                <div class="banner-image">
                    <div class="error-image">
                        <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/404.png"
                            alt="page not found" class="img-responsive">
                    </div>
                    <div class="frame-top">
                        <h1>Oops! <span style="color: #286ab4;">Page not found</span></h1>
                    </div>
                </div>
                <div class="content">
                    <p style="margin-bottom: 30px;">Looks like the page doesn’t exist. Change the URL and try again or
                        visit one of these pages to get to what you were looking for!</p>
                    <div style="margin-bottom: 15px; font-weight: 500;">
                        <a routerLink="/about-us-best-brokerage-firm">Learn More About Alice Blue</a>
                    </div>
                    <!-- <div style="margin-bottom: 15px; font-weight: 500;">
                    <a routerLink="/helpcenter">Visit the Help Center</a>
                </div> -->
                    <div style="margin-bottom: 30px; font-weight: 500;">
                        <a routerLink="/antiq">Read our Latest Blog</a>
                    </div>
                    <div class="btn-block">
                        <a routerLink="/contact-us" class="btn btn-blue">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>