<div class="footer-menus et_pb_row">
    <div class="container container-medium-width pos-rel">
        <div class="w-100 fl-bx align-items-center">
            <div id="footer-bottom" class="download_app_block w-40" >
                <div class="fl-bx align-items-center">
                    <a rel="noreferrer" href="https://apps.apple.com/in/app/ant-aliceblue/id1450075732" class="f-s-icn" target="_blank">
                        <img width="93" height="28" src="assets/images/home/ios.webp" alt="App Store - Alice Blue" class="img-responsive">
                    </a>
                    <a rel="noreferrer" href="https://play.google.com/store/apps/details?id=in.aliceblue.ant" class="f-s-icn" target="_blank">
                        <img width="93" height="28" src="assets/images/home/android.webp" alt="Google Play Store - Alice Blue" class="img-responsive">
                    </a>
                </div>
                <ul class="et-social-icons">
                    <li class="et-social-icon et-social-facebook">
                        <a rel="noreferrer" href="https://www.facebook.com/aliceblue.commodities" class="icon" target="_blank">
                            <img width="26" height="26" src="assets/images/home/facebook.svg" class="nrml-img " alt="Facebook">
                        </a>
                    </li>
                    <li class="et-social-icon et-social-twitter">
                        <a rel="noreferrer" href="https://twitter.com/aliceblue_india?lang=en" class="icon" target="_blank">
                            <img width="26" height="26" src="assets/images/home/twitter.svg" class="nrml-img " alt="Twitter">

                        </a>
                    </li>
                    <li class="et-social-icon et-social-twitter">
                        <a rel="noreferrer" href="https://www.instagram.com/aliceblue.online/" class="icon" target="_blank">
                            <img width="26" height="26" src="assets/images/home/Instagram.svg" class="nrml-img " alt="Instagram">
                        </a>
                    </li>
                    <li class="et-social-icon  ">
                        <a rel="noreferrer" href="https://t.me/Alicebluelive" class="icon" target="_blank">
                            <img width="26" height="26" src="assets/images/home/telegram.svg" class="nrml-img" alt="Telegram">

                        </a>
                    </li>

                    <li class="et-social-icon et-social-youtube">
                        <a rel="noreferrer" href="https://www.youtube.com/channel/UCrAM1_NV3j5_l8VoukiXv2g?sub_confirmation=1" class="icon" target="_blank">
                            <img width="26" height="26" src="assets/images/home/youtube.svg" class="nrml-img" alt="Youtube">
                        </a>
                    </li>
                    <li class="et-social-icon">
                        <a rel="noreferrer" href="https://pin.it/3HvmRGo" class="icon" target="_blank">
                            <img width="26" height="26" src="assets/images/home/pinterest.svg" class="nrml-img" alt="Pinterest">
                        </a>
                    </li>
                    <!-- <li class="et-social-icon market-icon">
                        <a routerLink="/market-talk" class="icon">
                            <img src="assets/images/blog.png" title="Market Talk">
                        </a>
                    </li> -->
                    <li class="et-social-icon digi-icon ">
                        <a routerLink="/digipromo" class="icon">
                            <img width="25" height="18" src="assets/images/home/digi.webp" title="Digipromo">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="et_pb_column et_pb_column_2_3 footer-nav-right w-60">
                <p class="da-alice-economy">
                    Corporate Office: No. 153/2, 3rd Floor, M.R.B.Arcade, Bagalur Main Road, Dwaraka Nagar, Yelahanka, Bengaluru - 560 063, Karnataka.<br> Registered Office: Old No.56/2 ,New No.58, LIC Nagar, Vinayagar Kovil Street, Erode -8,Tamil Nadu– 638002.
                    <br> Alice Blue Financial Services (P) Ltd : NSE EQ | NSE FO | NSE CDS-90112 SEBI REG : INZ000156038 <br> Alice Blue Financial Services (P) Ltd : BSE EQ | BSE FO | BSE CD-6670 SEBI REG : INZ000156038 <br> Alice Blue Financial Services
                    (P) Ltd : CDSL DP ID 12085300 DP SEBI REG : IN-DP-364-2018<br> Alice Blue Financial Services (P) Ltd : MCX-56710 SEBI REG : INZ000156038
                </p>
                <ul class="da-alice-economy-list">
                    <li><a class="btn" rel="noreferrer" href="https://www.mcxindia.com/" target="_blank">MCX</a></li>
                    <li><a class="btn" rel="noreferrer" href="https://www.msei.in/Index" target="_blank">MCX-SX</a></li>
                    <li><a class="btn" rel="noreferrer" href="https://www.nseindia.com/" target="_blank">NSE</a></li>
                    <li><a class="btn" rel="noreferrer" href="https://www.cdslindia.com/index.html" target="_blank">CDSL</a></li>
                    <li><a class="btn" rel="noreferrer" href="https://www.bseindia.com/" target="_blank">BSE</a></li>
                    <li><a class="btn" rel="noreferrer" href="https://www.sebi.gov.in/sebiweb/" target="_blank">SEBI</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>