<div class="icon-close" [mat-dialog-close]="true"> <img
        src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/svg/cancel-black.svg" alt="test"> </div>
<mat-dialog-content style="padding: 0;">
    <div class="potential_calc">
        <div class="pot_calc_hdr bg-light-blue text-center">
            <h2 style="margin-bottom: 0;">
                Terms & Conditions
            </h2>
        </div>
        <div class="pot_calc_cont">
            <div class="pot_cont">
                <div class="section-header">
                    <h3>Referral Program Terms & Conditions:</h3>
                </div>
                <!-- <p>Let us clearly understand the terms and conditions to acquire them….</p> -->
                <ul>
                    <li>Your referred clients first pay-in amount must be at least Rs.1000/- and should be traded only in Derivative Segments.</li>
                    <li>You will receive the referral commission & cashback when the referred party opens an account and
                        starts trading on Aliceblue.</li>
                    <li>The offer is applicable to all Aliceblue Clients and Sub-Broker.</li>
                    <li>The offer is not applicable for Aliceblue Authorised Partners and Business Development
                        Representatives.</li>
                    <li>This offer cannot be combined with any other offer.
                    <li>If your referred client already exists in the Aliceblue database as an existing client or
                        potential client, it will not be considered as a valid referral.</li>
                    <li>TDS of 5% is applicable on Cashback. The commission will be remitted on 15th of every month
                        directly into your ledger account and the cashback will be remitted on 1st of every month.</li>
                    <li>Aliceblue reserves the right to amend this offer and the terms and conditions at any time
                        without prior notice. The decision of Aliceblue on all matters relating to or in connection with
                        the use of this offer shall be final and binding on all parties concerned. The same shall be
                        intimated to the clients through our website and on the registered email address.</li>
                    <li>You agree that the following mentioned activities are expressly prohibited:- Fraud, Attempted
                        Fraud, or Abuse of the Aliceblue Referral offer or the Terms & Conditions.- Selling, Trading,
                        Bartering, or providing anything of value to your Invitee beyond the referral benefits or
                        otherwise using your own program invitations or Commission for promotional purposes.
                        <ul>
                            <li>Involve/engage in games/leagues/schemes/competitions etc. which may involve distribution
                                of
                                prize monies/medals/gifts, etc.</li>
                            <li>Any act or omission resulting in damage to Aliceblue in any form whatsoever in nature.
                            </li>
                            <li>Advertisement of any kind, in any form, and on any medium. Advertisement includes paid
                                media promotions on offline & online mediums including but not limited to Facebook,
                                Twitter,
                                Instagram, YouTube, WhatsApp, etc.</li>
                            <li>Engaging in any of the above activities will lead to the initiation of legal and
                                criminal action
                                against you and result in:
                                <ul>
                                    <li>Immediate termination and disqualification from the Referral Program</li>
                                    <li>Forfeiture of existing referral invitations</li>
                                    <li>Forfeiture of accrued but not yet received referral rewards.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Any grievances related to the above scheme/offer/campaign can be sent to <a href="mailto:askus@aliceblueindia.com">askus@aliceblueindia.com</a>.</li>
                    <li>Investments in the securities market are subject to market risks, read all the related
                        documents carefully before investing.</li>
                </ul>
                <!-- <ul>
                    <li>
                        You will receive the referral commission & cashback when the referred party opens an account
                        and starts trading with the Aliceblue account. Referred client must be a genuine and regular
                        trader/investor.
                    </li>
                    <li>
                        The offer cannot be combined with any other offer.
                    </li>
                    <li>
                        If your referred client already exists in our Alice blue database as an existing client or
                        potential client, it will not be considered as a valid referral.
                    </li>
                    <li>
                        TDS of 5% is applicable on Cashback & 500 referral incentives. The commission & 500 referral
                        incentives will be remitted on 15th of every month directly into the ledger account and the
                        cashback will be remitted on the 1st of every month.
                    </li>
                    <li>
                        The following mentioned activities are expressly prohibited:
                        <ul>
                            <li>Fraud, Attempted Fraud, or Abuse of the Alice blue Referral offer or the Terms &
                                Conditions.</li>
                            <li>Selling, Trading, Bartering, or providing anything of value to your Invitee beyond
                                the referral benefits or otherwise using your own program invitations or Commission
                                for promotional purposes.</li>
                            <li>Involve/engage in games/leagues/schemes/competitions etc. which may involve
                                distribution of prize monies/medals/gifts, etc.</li>
                            <li>Any act or omission resulting in damage to Alice blue in any form whatsoever in
                                nature.</li>
                            <li>Engaging in any of the above activities will lead to the initiation of legal and
                                criminal action against you and result in:
                                <ul>
                                    <li>Immediate termination and disqualification from the Referral Program</li>
                                    <li>Forfeiture of existing referral invitations</li>
                                    <li>forfeiture of accrued but not yet received referral rewards.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Any grievances related to the above scheme/offer/campaign can be sent to
                        askus@aliceblueindia.com
                    </li>
                    <li>
                        Investments in the securities market are subject to market risks, read all the related
                        documents carefully before investing.
                    </li>
                </ul> -->

            </div>
        </div>
    </div>
</mat-dialog-content>