<div id="footer-bottom-copyright">
    <div class="container container-medium-width clearfix">
        <div id="footer-info" class="clearfix">
            <ul class="et-social-icons fl-left">
                <li ><a routerLink="/legal-documentation" style="font-size:11px;">Legal Documents</a></li>
            </ul>
            <ul class="et-social-icons fl-right">
                <li style="font-size: 11px;display: flex;align-items: center;margin-top: 5px;">© 2021  <a routerLink="/" style="margin-left: 5px;font-size:11px;">Alice Blue</a>. All rights reserved</li>
            </ul>
        </div>
    </div>
</div>