.login_form {
    width: 100%;
    max-width: 450px;
    margin: auto;
}
.formName {
    width: 100%;
}
.formTitle {
    margin-bottom: 15px;
    font-weight: 500; 
}
.show-pw {
    position: absolute;
    right: 0;
    top: 6px;
}