.download-accordion {
    .AccWrap {
        width: 98%;
        margin: auto;
        .AccWrapInr {
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 00px 0;
            .AccHdr {
                padding: 20px 40px;
                width: 80%;
                color: inherit;
                height: auto;
                font-weight: normal;
                font-size: 12pt;
                text-align: left;
                h4{
                    margin-bottom: 0;
                }
            }
            .btn-block {
                width: 14%;
                .btn {
                    display: flex;
                    align-items: center;
                }
            }
            .AccHdr::after {
                right: auto;
                left: 0;
                display: none;
            }
            .AccHdr::before {
                display: none;
                width: 2px;
                min-height: 70px;
                height: auto;
                background-color: #cecece;
                left: 55px;
                top: 50%;
                transform: translateY(-50%);
            }
            .AccCont {
                padding: 20px 80px;
            }
            .hr {
                width: 100%;
                height: 1px;
                display: block;
                background-color: #e0e0e0;
                position: absolute;
                bottom: 0;
            }
        }
    }
}
@media(max-width : 468px) {
    .download-accordion{
        .AccWrap{
            .AccWrapInr{
                .AccHdr {
                    padding: 10px 10px;
                    width: 100%;
                    h4 {
                        font-size: 12pt;
                    }
                }
            } 
        } 
    } 
}