<html>

<head>
    <meta http-equiv="Content-Security-Policy" content="img-src *">
</head>
<body>
    <table style="width: 50%; margin: auto;">
        <tbody >
            <div>
                <div>
                    <div>
                        <br><br>
                        <h2>User Ticket</h2>
                    </div>
                </div>
                <div>
                    <div>
                        <br><br>
                        <div>
                            <span>Client Type : </span>
                         </div>
                    </div>
                </div>
                <div>
                    <div>
                        <br><br>
                       <span>Contact Number : </span>
                    </div>
                </div>
                <div>
                    <div>
                        <br><br>
                       <span>Email Id : </span>
                    </div>
                </div>
                <div>
                    <div>
                        <br><br>
                       <span>Issue Type : </span>
                    </div>
                </div>
                <div>
                    <div>
                        <br><br>
                       <span>Supportive Documents : </span>
                    </div>
                </div>
                <div>
                    <div>
                        <br><br>
                       <span>Subject : </span>
                    </div>
                </div>
                <div>
                    <div>
                        <br><br>
                       <span>Issue Screenshots : </span>
                    </div>
                    <div class="screenshot">
                        <img src="" alt="test">
                    </div>
                    <div class="screenshot">
                        <img src="" alt="test">
                    </div>
                </div>
            </div>
        </tbody>
    </table>
</body>
</html>