<div class="main-content">
    <div class="ekyc-guidelines">
        <div class="subpage-banner  bg-grey">
            <div class="container container-medium-width subpage-banner-inner">
                <div class="blog_banner_inner image-right-text-left-block">
                    <div class="image-text-inner fl-bx align-items-center ">
                        <div class="image-block w-50">
                            <img alt="image" class="img-responsive" src="assets/images/dummy-3.svg">
                        </div>
                        <div class="text-block w-50">
                            <div class="section-header">
                                <div class="s-t">
                                    How to open 
                                    <!-- <span class="b-t">FREE </span> -->
                                </div>
                                 <span class="s-t">Trading and Demat Account</span>
                                
                                <div class="n-t s-t">
                                    with Alice Blue?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="steps frame-small">
            <div class="container container-medium-width">
                <div class="section-header text-center">
                    <h2>Alice Blue Account Opening & EKYC Registration Process</h2>
                </div>
                <ul class="steps-follow">
                    <li *ngFor="let step of steps ; let i = index">
                        <h3>
                            Step {{i + 1}}
                        </h3>
                        <p [innerHTML]="step"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="process-block frame-small bg-grey">
            <div class="container image-left-text-right-block container-medium-width">
                <div class="fl-bx align-items-center">
                    <div class="image-block w-50">
                        <img class="img-responsive" src="assets/images/dummy-3.svg" alt="checking the application status">
                    </div>
                    <div class="text-block w-50">
                        <div class="section-header">
                            <h2>Alice Blue Account Opening Status</h2>
                        </div>
                        <div class="note">
                            You can check the application status at Alice Blue <a rel="noreferrer" href="https://app.aliceblueonline.com/digilink/LeadTracker.aspx" target="_blank">KYC Tracker</a> if you do not receive your ID and Password within 24 hours of completion of the account opening process.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="process-block frame-small ekyc-steps pos-rel">
            <div class="container image-left-text-right-block container-medium-width">
                <div class="section-header text-center">
                   <h2>
                        Alice Blue Account Opening - Detailed Step-by-Step Guide
                   </h2> 
                </div>
            </div>
        </div>
        <div class="continue-step frame-small ekyc-steps">
            <div class="container image-left-text-right-block">
                <div class="fl-bx align-items-center">
                    <div class="text-block w-30">
                        <div class="step">
                            STEP 1: <span>Registration</span>
                        </div>
                        <ul>
                           <li>
                               Visit Alice Blue <a rel="noreferrer" href="https://aliceblueonline.com/open-account-fill-kyc-request-call-back" target="_blank">Ekyc Portal</a> and fill in your basic information.
                           </li>
                           <li>
                               Click on ‘Open an Account’ if you are registering for the first time or click on ‘Continue Application’.
                           </li> 
                        </ul>
                    </div>
                    <div class="w-70 image-block">
                        <img class="img-responsive" src="assets/images/ekyc/step-1-registration.png" alt="Registration">
                    </div>
                </div>
            </div>
        </div>
        <div class="continue-step frame-small ekyc-steps">
            <div class="container image-right-text-left-block">
                <div class="fl-bx align-items-center">
                    <div class="text-block w-30">
                        <div class="step">
                            STEP 2: <span>Verify PAN Details</span>
                        </div>
                        <ul>
                            <li>
                                Enter your PAN Number and Date of Birth.
                            </li>
                        </ul>
                    </div>
                    <div class="w-70 image-block">
                        <img class="img-responsive" src="assets/images/ekyc/step-2-verify-pan-details.png" alt="PAN Details">
                    </div>
                </div>
            </div>
        </div>
        <div class="continue-step frame-small ekyc-steps">
            <div class="container image-left-text-right-block">
                <div class="fl-bx align-items-center">
                    <div class="text-block w-30">
                        <div class="step">
                            STEP 3: <span>Contact Information</span>
                        </div>
                        <ul>
                            <li>In this step, your aadhar details and address will be fetched automatically.</li>
                            <li>If your Aadhar and Correspondence Address is different, you can add the Correspondence Address in the ‘Address Line 2’.</li>
                        </ul>
                    </div>
                    <div class="w-70 image-block">
                        <img class="img-responsive" src="assets/images/ekyc/step-3-contact-information.png" alt="Contact Information">
                    </div>
                </div>
            </div>
        </div>
        <div class="process-block frame-small bg-grey ekyc-steps pos-rel">
            <div class="bottom-bg"></div>
            <div class="container image-left-text-right-block container-medium-width">     
                <div class="fl-bx align-items-center pos-rel">
                    <div class="text-block w-50">
                        <div class="step">
                            STEP 4:
                            <span>Bank Details</span>
                        </div>
                        <ul>
                            <li>Enter your Bank Account Number, IFSC Code (Attach 3 Month Bank Statement if you want to activate F&O and MCX Segment).</li>
                            <li>Attach cancelled cheque leaf (Only accepted in PNG and JPG Format).</li>
                        </ul>
                        <div class="step-icon">
                            <img class="img-responsive" src="assets/images/ekyc/step-4-bank-details.png" alt="Bank Details">
                        </div>
                    </div>
                    <div class="text-block w-50">
                        <div class="step">
                            STEP 5:
                            <span>Personal and Financial Details</span>
                        </div>
                        <ul>
                            <li>
                                In this step add your Personal and Financial details like Fathers Name, Mothers Name, Education, Annual Income, Networth, etc.
                            </li>
                            <li>
                                If you wish to add a nominee, click ‘Yes’ and add in the nominee details.
                            </li>
                        </ul>
                        <div class="step-icon">
                            <img class="img-responsive" src="assets/images/ekyc/step-5-personal-and-financial-details.png" alt="Personal and Financial Details">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="continue-step frame-small ekyc-steps">
            <div class="container image-right-text-left-block">
                <div class="fl-bx align-items-center">
                    <div class="text-block w-30">
                        <div class="step">
                            STEP 6: <span>Signature Verification</span>
                        </div>
                        <ul>
                            <li>Sign on a white paper and upload the image.</li>
                            <li>Select your demat preference: Select ‘POA’ if you can sign and send a physical copy of POA Form or Select ‘E-DIS’.</li>
                            <li>Select ‘Brokerage Plan’ and click enter.</li>
                        </ul>
                    </div>
                    <div class="w-70 image-block">
                        <img class="img-responsive" src="assets/images/ekyc/step-6-signature-verification.png" alt="Signature Verification">
                    </div>
                </div>
            </div>
        </div>
        <div class="continue-step frame-small ekyc-steps">
            <div class="container image-left-text-right-block">
                <div class="fl-bx align-items-center">
                    <div class="text-block w-30">
                        <div class="step">
                            STEP 7: <span>Enable Cookies</span>
                        </div>
                        <ul>
                            <li>
                                Enable cookies (Follow the steps mentioned in the pop up)
                            </li>
                        </ul>
                    </div>
                    <div class="w-70 image-block">
                        <img class="img-responsive" src="assets/images/ekyc/step-7-enable-cookies.png" alt="Enable Cookies">
                    </div>
                </div>
            </div>
        </div>
        <div class="continue-step frame-small ekyc-steps">
            <div class="container image-right-text-left-block">
                <div class="fl-bx align-items-center">
                    <div class="text-block w-30">
                        <div class="step">
                            STEP 8: <span>Preview your Information</span>
                        </div>
                        <ul>
                            <li>Recheck if the information provided is correct.</li>
                        </ul>
                    </div>
                    <div class="w-70 image-block">
                        <img class="img-responsive" src="assets/images/ekyc/step-8-preview-your-information.png" alt="Preview your Information">
                    </div>
                </div>
            </div>
        </div>
        <div class="process-block frame-small ekyc-steps pos-rel ekyc-steps">
            <div class="bottom-bg"></div>
            <div class="container image-left-text-right-block container-medium-width">
                <div class="fl-bx align-items-center pos-rel">
                    <div class="text-block w-50">
                        <div class="step">
                            STEP 9: <span>Upload Photo and Select E-sign Process</span>
                        </div>
                        <ul>
                            <li>
                                Take a live photo, upload it and select from Aadhar or Pan E-sign Process.
                            </li>
                        </ul>
                        <div class="step-icon">
                            <img class="img-responsive" src="assets/images/ekyc/step-9-upload-photo-and-select-esign-process.png" alt="Photo and Select E-sign Process">
                        </div>
                    </div>
                    <div class="text-block w-50">
                        <div class="step">
                            STEP 10: <span>E-sign</span>
                        </div>
                        <ul>
                            <li>
                                Enter your Aadhar Number, Verify your Aadhar with OTP and download the E-sign pdf for your reference.
                            </li>
                            <li>
                                Your account will be activated within 24 hours and you will receive the login id and password to your registered email address.
                            </li>
                        </ul>
                        <div class="step-icon">
                            <img class="img-responsive" src="assets/images/ekyc/step-10-esign.png" alt="E-sign">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" *ngIf="pageloader">
    <div class="loader-inner">
        <div id="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>