
span.d-left {
    width: 20%;
    font-size: 12pt;
    display: flex;
    float: left;
    font-weight: 700;
}
span.d-right {
    display: flex;
    float: left;
    width: 80%;
    font-size: 13px;
}
span.d-text {
    margin: 0 10px;
}
img.attention {
    width: 18px;
}

@media(max-width : 820px) { 
    span.d-right {
        width:70%;
    }
    span.d-left {
        width: 30%;
    }
}
@media(max-width : 468px) {
    span.d-left {
        align-items: center;
        width: 40%;
        font-size: 8pt;
    }
    span.d-text {
        margin: 0 3px;
    }
    span.d-right {
        width: 60%;
        font-size: 8pt;
        align-items: center;
    }
    .d-attentn-inner {
        display: flex;
    }
}