<div class="d-attention-investors-wrap">
    <div class="et_pb_row pad-top container container-medium-width">
        <div class="d-attentn-inner clearfix">
            <span class="d-left"><img width="18" height="26" class="attention" src="assets/images/home/attention.svg" alt="attention"><span class="d-text"><span>Attention</span> Investors</span>
            </span>
            <span class="d-right">
                <marquee>"Prevent unauthorized transactions in your account update your mobile number/ email Id with your Stock Broker. Receive information of your transactions directly from Exchange on your  mobile / email id at the end of the day."</marquee>
            </span>
        </div>
    </div>
</div>