<div class="frame-small circular">
    <div class="icon-close" [mat-dialog-close]="true"> <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/svg/cancel-black.svg" alt="test"> </div>
    <mat-dialog-content>
        <div class="modal-content">
            <div class="section-header">
                <h2>Terms & Conditions:</h2>
            </div>
            <div class="modal-body">
               <div class="data-content" [innerHTML]="data.element"></div>
            </div>
            <!--<div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>-->
        </div>
    </mat-dialog-content>
</div>