<div class="user-link-block frame">
    <div class="container">
        <div class="fl-bx align-items-center">
            <div class="w-20 logo_block">
                <div class="logo">
                    <img width="150" height="72" src="assets/images/home/logo.webp" alt="Alice Blue - Share Market, Trading & Investing" class="img-responsive">
                </div>

            </div>
            <div class="w-80">
                <div class="fl-bx align-items-center">
                    
                    <div class="w-25">
                        <a routerLink="/business-partner">
                            <span class="icon"><img width="45" height="45" src="assets/images/home/partner--wCbHwI.webp" alt="Partner with us" class="img-responsive"></span>
                            <span class="text">Become a Partner</span>
                        </a>
                    </div>
                    <div class="w-25">
                        <a routerLink="/support">
                            <span class="icon"><img width="45" height="45" src="assets/images/home/faqs.webp" alt="faqs" class="img-responsive"></span>
                            <span class="text">FAQ's</span>
                        </a>
                    </div>
                    <div class="w-25">
                        <a routerLink="/how-to-videos">
                            <span class="icon"><img width="45" height="45" src="assets/images/home/how-to-videos.webp" alt="how to videos" class="img-responsive"></span>
                            <span class="text">How To Videos</span>
                        </a>
                    </div>
                    <div class="w-25">
                        <a routerLink="/contact-us">
                            <span class="icon"><img width="45" height="45" src="assets/images/home/contact-us.webp" alt="contact us" class="img-responsive"></span>
                            <span class="text">Contact Us</span>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>