<div class="main-content">
  
    <div class="help-desk">
        <div class="subPageBanner pos-rel">
            <div class="bgImage" style="background-image: url('https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/Help+Center/help-center.png');"></div>
            <div class="overlay"></div>
            <div class="subPage_content">
                <div class="section-header">
                    <h2>
                        Welcome to our Helpdesk
                    </h2>
                    <p>How can we help you today?</p>
                </div>
            </div>
        </div>
        <div class="career_outer_block help-desk">
            <div class="container">
                <div class="careerSearchBlock">
                    <div class="search-form">
                        <div class="search-block">
                            <mat-form-field class="example-full-width" appearance="outline" style="width: 75%;">
                                <input type="text" placeholder="Search for questions" name="Title" matInput [(ngModel)]="helpDeskSearchText">
                            </mat-form-field>
                            <div class="search-list" style="width: 25%;">
                                <button type="submit" (click)="findQuestions()">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frame popular-topics">
                    <div class="container container-medium-width">
                        <div class="section-header text-center">
                            <h2>Popular Topics</h2>
                        </div>
                        <ng-container *ngIf="popularTopics | filter: helpDeskSearch as result">
                            <div class="helpdesk_cont fl-bx align-items-center  bg-sky-blue frame">
                                <a (click)="routeToFaqs(popularTopic)" class="popular-single-block w-30 bg-box" *ngFor="let popularTopic of result | paginate: { itemsPerPage: 9 , currentPage: q }">
                                    <div class="circle-block">
                                        <img [src]="popularTopic.image_url" [alt]="popularTopic.category">
                                    </div>
                                    <div class="content-block text-center">
                                        <h4>{{popularTopic.category}}</h4>
                                    </div>
                                </a>
                                <ng-template  [ngIf]="result.length == 0">
                                    <div class="w-100 text-center">
                                        No Results Found
                                    </div>
                                </ng-template>
                            </div>
                            <div class="pagination_block w-100 text-center">
                                <pagination-controls (pageChange)="q = $event"></pagination-controls>
                            </div>
                           
                        </ng-container>
                    </div>
                </div>
                <div class="frame helpdesk-benefit">
                    <div class="container container-medium-width bg-sky-blue frame">
                        <div class="helpdesk_cont fl-bx align-items-center">
                            <div [routerLink]="feature.link" class="helpdesk-single-block bg-box" style="cursor: pointer;" *ngFor="let feature of features">
                                <div class="icon-block">
                                    <img [src]="feature.img" alt="test" class="img-responsive bg-box-one">
                                </div>
                                <div class="content-block text-center">
                                    <h4>{{feature.title}}</h4>
                                    <p>{{feature.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

<div class="loader" *ngIf="pageloader">
    <div class="loader-inner">
        <div id="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>