
.iframe-inr {
    width: 74%;
    height: 230px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.aut-icon {
    height: 70px;
    width: 70px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #6fccdd;
    img {
        height: 100%;
        display: block;
        border-radius: 50%;
    }
}
.aut-name {
    font-weight: 500;
}
.benefit-single-block {
    height: 140px;
    .benefit {
        min-height: 140px;
    }
}
.social-icon-links {
    justify-content: inherit;
    margin-left: 0;
}
.gif_block img {
    height: auto;
    width: 100%;
}

.iframe-bg {
    background-image: url(https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/video-frame.png);
    width: 100%;
    height: 330px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 2px;
    margin-top: -3px;
}
.AccCont {
    a {
        color: #44B749;
    }
    ul {
        margin-left: 20px;
    }
}
.ant-page {
    .s-icn {
        width: 25%;
        z-index: 1;
        margin-right: 20px;
    }
}
.type {
    padding: 10px 20px;
    background-color: #32b44a;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.upcoming {
    background-color: #a6bce2;
}
.features-benefit {
    .list {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        text-align: left;
        li {
            list-style: none;
            position: relative;
            width: 33.33%;
           
            padding-right: 60px;
            padding-left: 60px;
            margin-bottom: 20px;
            &::before {
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                position: absolute;
                top: 7px;
                background-color: #276ab4;
                left: 0;
            }
        }
    }
}
.fixed-right-image {
    background-size: contain;
    width: 720px;
    height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
}

.partner-slider {
    .partner-block {
        padding: 30px 20px;
        min-height: 200px;
        margin: 5px;
        li {
            list-style: none;
            font-size: 12px;
            
        }
    }
}

@media(max-width : 820px ) {
    .features-benefit .list li {
        width: 50%;
        padding-right: 20px;
        padding-left: 30px;
        margin-bottom: 15px;
    }
    .iframe-inr {
        width: 53%;
    }
    .partner-slider .partner-block {
        padding: 15px;
        min-height: 150px;
    }
    .fixed-right-image {
        width: 450px;
        height: 350px;
    }
}
@media(max-width : 468px ) {
    .features-benefit .list li {
        width: 100%;
    }
    .iframe-inr {
        width: 94%;
        height: 180px;
    }
    .fixed-right-image {
        width: 250px;
    }
}