<div class="link_mobile">
    <div class="wrap">
        <div class="offer">
            Enjoy Lifetime Free Delivery Trade
        </div>
    </div>
</div>
<div class="download_app_block">
    <div class="download_text">
        Download the App
    </div>
    <div class="social-icon-links">
        <a rel="noreferrer" href="https://apps.apple.com/in/app/ant-aliceblue/id1450075732" class="s-icn" target="_blank">
            <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/svg/ios.png" alt="App Store - Alice Blue" class="img-responsive">
        </a>
        <a rel="noreferrer" href="https://play.google.com/store/apps/details?id=in.aliceblue.ant" class="s-icn" target="_blank">
            <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/Homepage+/android.webp" alt="Google Play Store - Alice Blue" class="img-responsive">
        </a>
    </div>
</div>