<!-- <div class="main-content">
    <div class="lic-ipo">
        <div class="supage-banner bg-light-blue">
            <div class="container">
                <div class="fl-bx align-items-center justify-content-center">
                    <div class="w-50">
                        <div class="content-block">
                            <h1 class="yellow" style="text-shadow: 1px 6px 3px #000;">
                                "LIC IPO: Date, Share Price, & News"
                            </h1>
                        </div>
                    </div>
                    <div class="w-50">
                        <div class="banner-image-block">
                            <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/cms/uploaded-files/images/admin-cms$ab_cms$1641379007207.png"
                                class="img-responsive" alt="LIC IPO">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ipo-table-block frame-small">
        <div class="container container-medium-width">
            <div class="section-header">
                <h2>
                    LIC IPO - Expected Date and Price
                </h2>
            </div>
            <div class="ipo-table text-center">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span>Issue Type</span>
                            </td>
                            <td>
                                <span>Issue Size</span>
                            </td>
                            <td>
                                <span>Open Date</span>
                            </td>
                            <td>
                                <span>Close Date</span>
                            </td>
                            <td>
                                <span>Min Investment</span>
                            </td>
                            <td>
                                <span>Lot Size</span>
                            </td>
                            <td>
                                <span>Price Range</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>NA</span>
                            </td>
                            <td>
                                <span>316,249,885 Equity Shares (5% of the company)</span>
                            </td>
                            <td>
                                <span>NA</span>
                            </td>
                            <td>
                                <span>NA</span>
                            </td>
                            <td>
                                <span>NA</span>
                            </td>
                            <td>
                                <span>NA</span>
                            </td>
                            <td>
                                <span>NA</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="note_block frame-small">
                <p><b>NOTE :</b> <i>The data mentioned is as per the DRHP filed by LIC with SEBI on 13th FEB 2022</i></p>
                <p>The name LIC (Life Insurance Corporation of India) is known to almost everybody in the country. In many ways, LIC brings back memories for many generations, and people still remember the tagline "Zindagi Ke Sath Bhi, Zindagi Ke Baad Bhi." </p>
                <p>LIC has been serving Indians for more than 60 years and has earned the unwavering confidence of the nation. You might be living under the rock if you or any of your family members have not taken a LIC policy because there is always a neighbor who is a LIC agent.</p>
                <p>LIC has been the largest insurance provider in India, and it will shortly launch an Initial Public Offering (IPO), which is expected to be the largest in recent times. With all the hype happening around, let’s take a look at LIC as an organization and what it has to offer!!</p>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        LIC IPO - About Life Insurance Corporation of India
                    </h2>
                </div>
                <div class="lic_content">
                    <p>The LIC of India was formed on September 1, 1956, by the Insurance Act of 1956, by amalgamating 245 small insurance companies. Over the years, LIC has grown to a team of roughly 1.2 Lakh employees and around 12 Lakh agents on the ground with 8 Zonal Offices, 113 Divisional Offices, 2048 Branch Offices, 73 Customer Zones, 1401 Satellite Offices, and 1240 Mini Offices across India.</p>
                    <p>LIC has the biggest market share of nearly 70% in the insurance industry and offers tons of investment options such as Endowment Plans, Pension Funds, Whole Life Plans, Money Back Plans, Mutual Funds, etc. No wonder it is still the first choice of investment for more than 30 Crore investors in India. </p>
                    <p>The Government of India majorly owns LIC under the Ministry of Finance. With that being said, in the budget for FY 21-22, the Indian Finance Minister, Mrs. Nirmala Sitharaman, indicated that the LIC would launch an IPO to meet the government's ambitious goal of disinvesting Rs 1.75 trillion in FY 21-22.
                    </p>
                </div>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        LIC IPO Details/Size
                    </h2>
                </div>
                <div class="lic_content">
                    <p>According to the DRHP submitted by LIC on 13th Feb 2022, it is clear that LIC is offering its 5% stake, i.e., 316,249,885 Equity Shares with the Face Value of each share fixed at ₹10.</p>
                    <p>Going deep into the DRHP, we found that 5% of the <b>LIC IPO</b> Issue will be reserved for the LIC employees, and 10% will be reserved for the existing policyholders. There was also a mention that the RIBs or Retail Individual bidders would be allotted around 35% of the IPO issue size, and up to 60% would be allotted to the QIBs or Qualified Institutional Buyers.</p>
                </div>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        LIC IPO Price
                    </h2>
                </div>
                <div class="lic_content">
                    <p>This might be a little early to jump to any conclusions because LIC has just filed its DRHP. So, commenting anything on the <b>LIC IPO share price</b> would not be rational.</p>
                    <p>All we suggest is to have some patience and wait for the exact news to come out. </p>
                </div>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        LIC IPO Date 2021
                    </h2>
                </div>
                <div class="lic_content">
                    <p>Although the talks about the <b>LIC IPO launch date</b> have been in the market for quite some time now, but nothing has been confirmed yet. Since LIC's DRHP was filed on 13th Feb 2022, we can expect the launch dates soon.</p>
                    <p>It is hence advised that you keep track of the <a href="https://ipo.aliceblueonline.com/home"
                            title="https://ipo.aliceblueonline.com/home" target="_blank">LIC IPO News Here</a> and be
                        the first one to place your bids after thorough research and analysis.</p>
                    <p>Even though the <b>LIC IPO date and price </b>have not come out officially, it’s best you be prepared
                        for the <b>LIC IPO</b> application process. Read below to know the procedure in detail</p>
                </div>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        How to Invest in LIC IPO?
                    </h2>
                </div>
                <div class="lic_content">
                    <p>Investing in <b>LIC IPO</b> is made simple through <a href="https://leads.aliceblueonline.com/ANTIQ/" title="https://leads.aliceblueonline.com/ANTIQ/" target="_blank" >Alice Blue</a>. Follow these easy steps to start
                        your investment.</p>
                    <ul>
                        <li>
                            <b>Step 1 :</b> <a href="https://leads.aliceblueonline.com/ANTIQ/" title="https://leads.aliceblueonline.com/ANTIQ/" target="_blank" > Open a Demat account with Alice Blue in just 15 minutes</a>. Already have an
                            account?? Then just simply log in to <a href="https://ipo.aliceblueonline.com/home"
                            title="https://ipo.aliceblueonline.com/home" target="_blank">Alice IPO</a>.
                        </li>
                        <li>
                            <b>Step 2 :</b> Choose the<b> LIC IPO</b> and place your bid via UPI.
                        </li>
                        <li>
                            <b>Step 3 :</b> Once the bid is placed via UPI, the UPI App will block funds in your Bank account proportional to the bid (Till the allotment date). If the shares are allotted to you, the money will be debited from your account; if not, the money will be unblocked.

                            Excited to know how bidding and allotment shares are done? Read about it <a
                                href="https://aliceblueonline.com/antiq/beginner/what-is-ipo-full-form"
                                title="https://aliceblueonline.com/antiq/beginner/what-is-ipo-full-form"
                                target="_blank">here</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        What Factors Should You Consider Before Investing in LIC IPO?
                    </h2>
                </div>
                <div class="lic_content">
                    <p>This is probably the most crucial part to look after. In order to make the most out of your investment, you need to consider the following factors.</p>
                    <ul>
                        <li> Try to read and understand the business of the company in the Draft Red Herring Prospectus
                            (DRHP). You can find the <a href="https://www.sebi.gov.in/sebiweb/home/HomeAction.do?doListing=yes&sid=3&ssid=15&smid=10" title="DRHP" target="_blank" rel=”nofollow” >DRHP here</a>. In the RHP, you can also:
                            <ul>
                                <li> Do the background research and check the past records of the company.</li>
                                <li> Analyze the financial data and assess the company’s valuation.</li>
                                <li> Compare the company with its competitors.</li>
                            </ul>
                        </li>
                        <li> Understand the risk involved in the process.</li>
                        <li> Have a clear idea about the investment goal you want to achieve.</li>
                    </ul>
                    <p>IPOs offer you an excellent opportunity to make a good amount of money in a short span of time.
                        In the previous few months,<b> three of the Dalal Street debutants have given more than 50% returns on their listing day - Zomato (65.59%), GR Infra (108.7%) & Clean Science (76.13%).</b></p>
                    <p>
                        <b>ALERT:  LIC has reserved up to 5% of the IPO Size for its employees and 10% for its policyholders.
                            <br><br>
                            That increases your probability of getting the allotment to an extent, so why miss out on the opportunity?
                            <br><br>
                            Be investment-ready! <a href="https://leads.aliceblueonline.com/ANTIQ/" title="https://leads.aliceblueonline.com/ANTIQ/" target="_blank">Open your account with Alice Blue Today!</a></b>
                    </p>
                </div>
            </div>
        </div>

        <div class="faqs frame" *ngIf="faqs.length > 0">
            <div class="container container-medium-width">
                <div class="section-header text-center">
                    <h2>Refer & Earn FAQ's</h2>
                </div>
                <div id="accordion" class="accordion">
                    <div *ngFor="let menu of faqs; let i = index" class="acc_outer" [class.active]="menu.active">
                        <div class="menu" (click)="toggle(i)">
                            <span class="before"></span>
                            {{ menu.question }}
                            <span class="plus"></span>
                        </div>
                        <div class="submenu" #submenu [style.height.px]="menu.active ? submenu.scrollHeight : 0">
                            <div class="accContent" [innerHTML]="menu.answer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!-- <div class="loader" *ngIf="pageloader">
    <div class="loader-inner">
        <div id="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div> -->



<div class="main-content">
    <div class="lic-ipo">
        <div class="supage-banner bg-light-blue">
            <div class="container">
                <div class="fl-bx align-items-center justify-content-center">
                    <div class="w-50">
                        <div class="content-block">
                            <h1 class="yellow" style="text-shadow: 1px 6px 3px #000;">
                                "LIC IPO: Date, Share Price, & News"
                            </h1>
                        </div>
                    </div>
                    <div class="w-50">
                        <div class="banner-image-block">
                            <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/cms/uploaded-files/images/admin-cms$ab_cms$1641379007207.png"
                                class="img-responsive" alt="LIC IPO">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ipo-table-block frame-small">
        <div class="container container-medium-width">
            <div class="section-header">
                <h2>
                    LIC IPO - Expected Date and Price
                </h2>
            </div>
            <div class="ipo-table text-center">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span>Issue Type</span>
                            </td>
                            <td>
                                <span>Issue Size</span>
                            </td>
                            <td>
                                <span>Open Date</span>
                            </td>
                            <td>
                                <span>Close Date</span>
                            </td>
                            <td>
                                <span>Min Investment</span>
                            </td>
                            <td>
                                <span>Lot Size</span>
                            </td>
                            <td>
                                <span>Price Range</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>NA</span>
                            </td>
                            <td>
                                <span>316,249,885 Equity Shares (5% of the company)</span>
                            </td>
                            <td>
                                <span>NA</span>
                            </td>
                            <td>
                                <span>NA</span>
                            </td>
                            <td>
                                <span>NA</span>
                            </td>
                            <td>
                                <span>NA</span>
                            </td>
                            <td>
                                <span>NA</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="note_block frame-small">
                <p><b>NOTE :</b> <i>The data mentioned is as per the DRHP filed by LIC with SEBI on 13th FEB 2022</i>
                </p>
                <p>The name LIC (Life Insurance Corporation of India) is known to almost everybody in the country. In
                    many ways, LIC brings back memories for many generations, and people still remember the tagline
                    "Zindagi Ke Sath Bhi, Zindagi Ke Baad Bhi." </p>
                <p>LIC has been serving Indians for more than 60 years and has earned the unwavering confidence of the
                    nation. You might be living under the rock if you or any of your family members have not taken a LIC
                    policy because there is always a neighbor who is a LIC agent.</p>
                <p>LIC has been the largest insurance provider in India, and it will shortly launch an Initial Public
                    Offering (IPO), which is expected to be the largest in recent times. With all the hype happening
                    around, let’s take a look at LIC as an organization and what it has to offer!!</p>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        LIC IPO - About Life Insurance Corporation of India
                    </h2>
                </div>
                <div class="lic_content">
                    <p>The LIC of India was formed on September 1, 1956, by the Insurance Act of 1956, by amalgamating
                        245 small insurance companies. Over the years, LIC has grown to a team of roughly 1.2 Lakh
                        employees and around 12 Lakh agents on the ground with 8 Zonal Offices, 113 Divisional Offices,
                        2048 Branch Offices, 73 Customer Zones, 1401 Satellite Offices, and 1240 Mini Offices across
                        India.</p>
                    <p>LIC has the biggest market share of nearly 70% in the insurance industry and offers tons of
                        investment options such as Endowment Plans, Pension Funds, Whole Life Plans, Money Back Plans,
                        Mutual Funds, etc. No wonder it is still the first choice of investment for more than 30 Crore
                        investors in India. </p>
                    <p>The Government of India majorly owns LIC under the Ministry of Finance. With that being said, in
                        the budget for FY 21-22, the Indian Finance Minister, Mrs. Nirmala Sitharaman, indicated that
                        the LIC would launch an IPO to meet the government's ambitious goal of disinvesting Rs 1.75
                        trillion in FY 21-22.
                    </p>
                </div>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        LIC IPO Details/Size
                    </h2>
                </div>
                <div class="lic_content">
                    <p>According to the DRHP submitted by LIC on 13th Feb 2022, it is clear that LIC is offering its 5%
                        stake, i.e., 316,249,885 Equity Shares with the Face Value of each share fixed at ₹10.</p>
                    <p>Going deep into the DRHP, we found that 5% of the <b>LIC IPO</b> Issue will be reserved for the
                        LIC employees, and 10% will be reserved for the existing policyholders. There was also a mention
                        that the RIBs or Retail Individual bidders would be allotted around 35% of the IPO issue size,
                        and up to 60% would be allotted to the QIBs or Qualified Institutional Buyers.</p>
                </div>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        LIC IPO Price
                    </h2>
                </div>
                <div class="lic_content">
                    <p>This might be a little early to jump to any conclusions because LIC has just filed its DRHP. So,
                        commenting anything on the <b>LIC IPO share price</b> would not be rational.</p>
                    <p>All we suggest is to have some patience and wait for the exact news to come out. </p>
                </div>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        LIC IPO Date 2021
                    </h2>
                </div>
                <div class="lic_content">
                    <p>Although the talks about the <b>LIC IPO launch date</b> have been in the market for quite some
                        time now, but nothing has been confirmed yet. Since LIC's DRHP was filed on 13th Feb 2022, we
                        can expect the launch dates soon.</p>
                    <p>It is hence advised that you keep track of the <a href="https://ipo.aliceblueonline.com/home"
                            title="https://ipo.aliceblueonline.com/home" target="_blank">LIC IPO News Here</a> and be
                        the first one to place your bids after thorough research and analysis.</p>
                    <p>Even though the <b>LIC IPO date and price </b>have not come out officially, it’s best you be
                        prepared
                        for the <b>LIC IPO</b> application process. Read below to know the procedure in detail</p>
                </div>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        How to Invest in LIC IPO?
                    </h2>
                </div>
                <div class="lic_content">
                    <p>Investing in <b>LIC IPO</b> is made simple through <a
                            href="https://leads.aliceblueonline.com/ANTIQ/"
                            title="https://leads.aliceblueonline.com/ANTIQ/" target="_blank">Alice Blue</a>. Follow
                        these easy steps to start
                        your investment.</p>
                    <ul>
                        <li>
                            <b>Step 1 :</b> <a href="https://leads.aliceblueonline.com/ANTIQ/"
                                title="https://leads.aliceblueonline.com/ANTIQ/" target="_blank"> Open a Demat account
                                with Alice Blue in just 15 minutes</a>. Already have an
                            account?? Then just simply log in to <a href="https://ipo.aliceblueonline.com/home"
                                title="https://ipo.aliceblueonline.com/home" target="_blank">Alice IPO</a>.
                        </li>
                        <li>
                            <b>Step 2 :</b> Choose the<b> LIC IPO</b> and place your bid via UPI.
                        </li>
                        <li>
                            <b>Step 3 :</b> Once the bid is placed via UPI, the UPI App will block funds in your Bank
                            account proportional to the bid (Till the allotment date). If the shares are allotted to
                            you, the money will be debited from your account; if not, the money will be unblocked.

                            Excited to know how bidding and allotment shares are done? Read about it <a
                                href="https://aliceblueonline.com/antiq/beginner/what-is-ipo-full-form"
                                title="https://aliceblueonline.com/antiq/beginner/what-is-ipo-full-form"
                                target="_blank">here</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="about_lic frame-small">
                <div class="section-header">
                    <h2>
                        What Factors Should You Consider Before Investing in LIC IPO?
                    </h2>
                </div>
                <div class="lic_content">
                    <p>This is probably the most crucial part to look after. In order to make the most out of your
                        investment, you need to consider the following factors.</p>
                    <ul>
                        <li> Try to read and understand the business of the company in the Draft Red Herring Prospectus
                            (DRHP). You can find the <a
                                href="https://www.sebi.gov.in/sebiweb/home/HomeAction.do?doListing=yes&sid=3&ssid=15&smid=10"
                                title="DRHP" target="_blank" rel=”nofollow”>DRHP here</a>. In the RHP, you can also:
                            <ul>
                                <li> Do the background research and check the past records of the company.</li>
                                <li> Analyze the financial data and assess the company’s valuation.</li>
                                <li> Compare the company with its competitors.</li>
                            </ul>
                        </li>
                        <li> Understand the risk involved in the process.</li>
                        <li> Have a clear idea about the investment goal you want to achieve.</li>
                    </ul>
                    <p>IPOs offer you an excellent opportunity to make a good amount of money in a short span of time.
                        In the previous few months,<b> three of the Dalal Street debutants have given more than 50%
                            returns on their listing day - Zomato (65.59%), GR Infra (108.7%) & Clean Science
                            (76.13%).</b></p>
                    <p>
                        <b>ALERT: LIC has reserved up to 5% of the IPO Size for its employees and 10% for its
                            policyholders.
                            <br><br>
                            That increases your probability of getting the allotment to an extent, so why miss out on
                            the opportunity?
                            <br><br>
                            Be investment-ready! <a href="https://leads.aliceblueonline.com/ANTIQ/"
                                title="https://leads.aliceblueonline.com/ANTIQ/" target="_blank">Open your account with
                                Alice Blue Today!</a></b>
                    </p>
                </div>
            </div>
        </div>

        <div class="faqs frame" *ngIf="faqs.length > 0">
            <div class="container container-medium-width">
                <div class="section-header text-center">
                    <h2>Refer & Earn FAQ's</h2>
                </div>
                <div id="accordion" class="accordion">
                    <div *ngFor="let menu of faqs; let i = index" class="acc_outer" [class.active]="menu.active">
                        <div class="menu" (click)="toggle(i)">
                            <span class="before"></span>
                            {{ menu.question }}
                            <span class="plus"></span>
                        </div>
                        <div class="submenu" #submenu [style.height.px]="menu.active ? submenu.scrollHeight : 0">
                            <div class="accContent" [innerHTML]="menu.answer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- <div class="loader" *ngIf="pageloader">
    <div class="loader-inner">
        <div id="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div> -->