<div class="main-content">
    <div class="about_us ebook_podcast help-desk">
        <div class="subPageBanner pos-rel">
            <div class="bgImage"
                style="background-image: url('https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/ab+care.png');">
            </div>
            <div class="overlay"></div>
            <div class="subPage_content">
                <div class="section-header">
                    <h2>
                        ALICE BLUE CARES
                    </h2>
                </div>
                <div  class="btn-block" >
                    <a  href="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/CSR+REPORT.pdf" target="_blank" class="btn btn-yellow" style="margin-right: 10px; border-radius: 40px;">CSR REPORT</a>
                    <a  target="_blank" href="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/CSR+POLICY.pdf" class="btn btn-yellow" style="margin-right: 10px; border-radius: 40px;">CSR POLICY</a>
                    <a  href="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/CSR+COMITTEE.pdf" target="_blank" class="btn btn-yellow" style="border-radius: 40px;">CSR COMITTEE</a>
                </div>
            </div>
        </div>
        
        <div class="image-right-text-left-block process_Block slider_block frame pos-rel">
            <div class="bg-line bg-line"></div>
            <div class="container container-medium-width fl-bx align-items-center">
                <div class="w-100 section-header text-center">
                    <h2>COVID- First Wave 2020 Contribution
                    </h2>
                </div>
                <div class="sl_right w-50 pos-rel fl-bx align-items-center ">
                    <h4>
                        Committed to helping people in need, we have donated Rs. 15 Lakhs to the COVID relief fund. 
                    </h4>
                </div>
                <div class="sl_left w-50">
                    <div class="image-block">
                        <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/1st+wave.png" class="img-responsive" alt="test">
                    </div>
                </div>
            </div>
        </div>
        <div class="digilink-client digipromo-page frame pos-rel bg-light-blue">
            <div class="bottom-bg-right" style="background-image: url(assets/images/f-t-a.png);"></div>
            <div class="container container-medium-width">
                <div class="image-text-inner fl-bx align-items-center">
                    <div class="w-100 section-header text-center">
                        <h2>Awaken Change</h2>
                    </div>
                    <div class="text-block w-50">
                        <div class="content">
                            <div class="steps">
                                Tribute to all the changemakers in the country on the occasion of India’s 74th Independence day.
                                Every small positive change brings a large difference in a Nation’s well-being.
                            </div>
                        </div>
                    </div>
                    <div class="w-50">
                        <div class="iframe pos-rel">
                            <div class="iframe-bg"></div>
                            <div class="iframe-inr">
                                <iframe [src]="safeSrc" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-right-text-left-block process_Block slider_block frame pos-rel">
            <div class="bg-line bg-line"></div>
            <div class="container container-medium-width fl-bx align-items-center">
                <div class="w-100 section-header text-center">
                    <h2>COVID- Second Wave 2021 Contribution</h2>
                </div>
                <div class="sl_right w-50 pos-rel fl-bx align-items-center ">
                    <h4>
                        As the world continues to respond to COVID-19, we are doing our part by donating Rs. 50 Lakhs to the COVID relief fund.
                        We continue to ensure the safety of our employees and well-being of the communities in which we operate,
                        and providing technology and resources to our customers to help them do their best while remote
                    </h4>
                </div>
                <div class="sl_left w-50">
                    <div class="image-block">
                        <img src="https://alicewebsite.s3.ap-south-1.amazonaws.com/website/img-v2/2nd+wave.png" class="img-responsive" alt="test">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="loader" *ngIf="pageloader">
    <div class="loader-inner">
        <div id="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>