<div class="main-content">
    <div class="blog_detail_view ebook_detail_view">
        <div class="frame-medium blog_detail_block">
            <div class="container container-small-width">
                <div class="fl-bx">
                    <div class="w-100">
                        <div class="back_link" style="margin-bottom: 30px;">
                            <a routerLink="/how-to-videos">
                                < Back to How to Page </a>
                        </div>
                    </div>
                    <div class="w-100" *ngIf="specificDescription">
                        <div class="blog_detail_header section-header">
                            <!-- <h2>{{specificDescription.topic}}</h2> -->
                            <h1>
                                {{specificDescription.video_title}}
                            </h1>
                            <p>{{specificDescription.updatedAt | date : 'longDate'}}</p>
                        </div>
                        <div class="market-talk-detail-top-block bg-box">
                            <div class="blog_banner_inner">
                                <div class="fl-bx align-specificDescription-center justify-content-center">
                                    <div class="mkt-tlk-detail-image">
                                        <iframe width="100%" height="100%" [src]="specificDescription.video_url | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-detail-left-outer mkt-talk-content">
                            <div class="blog-detail-left">
                                <div class="hdr_cnt_block">
                                    <div class="cont_cnt_block" [innerHTML]="specificDescription.video_description"></div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-top related_questions" *ngIf="faqs.length > 0">
                            <div class="section-header">
                                <h3>Related Questions</h3>
                            </div>
                            <!-- <div class="AccWrap faqs">
                                <div class="AccWrapInr pos-rel" *ngFor="let faq of faqs">
                                    <div class="AccHdr">
                                        <div class="hdr_content_block">
                                            {{faq.question}}
                                        </div>
                                    </div>
                                    <div class="AccCont " [innerHTML]="faq.answer"></div>
                                    <div class="hr"></div>
                                </div>
                            </div> -->
                            <div id="accordion" class="accordion">
                                <div *ngFor="let menu of faqs; let i = index" class="acc_outer" [class.active]="menu.active">
                                    <div class="menu" (click)="toggle(i)">
                                        <span class="before"></span>
                                            {{ menu.question }}
                                        <span class="plus"></span>
                                    </div>
                                    <div class="submenu" #submenu [style.height.px]="menu.active ? submenu.scrollHeight : 0" >
                                        <div class="accContent" [innerHTML]="menu.answer">
                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="share" [ngClass]="{ scrolled : scrolled}">
    <div class="cs-social-share clearfix">
        <div class="cs-share-this-product facebook">
            <share-button [theme]="'modern-dark'" [button]="'facebook'"></share-button>
        </div>
        <div class="cs-share-this-product twitter">
            <share-button [theme]="'modern-dark'" [button]="'twitter'"></share-button>
        </div>
        <div class="cs-share-this-product linkedin">
            <share-button [theme]="'modern-dark'" [button]="'linkedin'"></share-button>
        </div>
        <div class="cs-share-this-product telegram ">
            <share-button [theme]="'modern-dark'" [button]="'telegram'"></share-button>
        </div>
        <div class="cs-share-this-product whatsapp ">
            <share-button [theme]="'modern-dark'" [button]="'whatsapp'"></share-button>
        </div>
        <div class="cs-share-this-product email" style="background-color: red;">
            <share-button [theme]="'modern-dark'" [button]="'email'"></share-button>
        </div>
    </div>
</div> -->
<div class="loader" *ngIf="pageloader">
    <div class="loader-inner">
        <div id="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>