<div class="starttrading bg-light-blue frame">
    <div class="container container-medium-width">
        <div class="fl-bx align-items-center justify-content-center">
            <div class="w-50">
                <h2>Start Trading</h2>
                <ul class="list">
                    <li>Equity Delivery @ Rs. 0 Fee</li>
                    <li>Pay 0.01% or Rs. 15 per order, whichever is lower.</li>
                </ul>
            </div>
            <div class="w-50 text-center">
                <a routerLink="/open-account-fill-kyc-request-call-back" class="btn btn-green">Open an Account</a>
            </div>
        </div>
    </div>
</div>