<html>

<head>
    <meta http-equiv="Content-Security-Policy" content="img-src *">
</head>

<body>
    <table style="width: 50%; margin: auto;">
        <tbody style="text-align: center">
            <div>
                <div>
                    <div>
                        <br><br>
                        <h2>Email Already Verified</h2>
                    </div>
                </div>
                <div>
                    <div>
                        <br><br>
                        <img style="width: 150px;height: auto;" src="https://alicewebsite.s3.ap-south-1.amazonaws.com/cms/uploaded-files/images/verified.png" alt="test">
                    </div>
                </div>
                <div>
                    <div>
                        <hr>
                    </div>
                </div>
            </div>
        </tbody>
    </table>

</body>

</html>